@media screen and (max-width: 850px)
{
	.enter-block
	{
		width: 70%;
	}

	.slide-container
	{
		width: 95%;
	}
}

@media screen and (max-width: 915px)
{
	.site-bar
	{
		width: auto;
	}
}

@media screen and (max-width: 1050px)
{
	.fixed-home-button
	{
		position: static;
		width: 95%;
		margin: 10px auto 0 auto;
		text-align: right;
		display: none;
	}

	.header-home-button
	{
		display: block;
		float: right;
	}

	.header-home-button .home-test-button
	{
		margin-left: 10px;
		margin-top: 0px;
	}
}

@media screen and (max-width: 714px)
{
	body
	{
	}

	.welcome span, .thx-text
	{
		font-size: 1.5em;
	}

	.inst-header
	{
		min-height: initial;
	}
}

@media screen and (max-width: 450px)
{
	.logo-wrapper img
	{
		max-width: 90%;
		width: 90%;
	}

	.enter-block
	{
		margin: 20px auto;
		width: 85%;
	}
}

@media screen and (max-width: 495px)
{
	.font-buttons div
	{
		float: none;
		width: 100%;
		margin: 5px 0;
	}

	.font-buttons div:hover
	{
		margin-left: 0px;
	}

	.font-buttons
	{
		width: 100%;
		padding: 10px;
		overflow: hidden;
	}

	.slide-header
	{
		font-size: 1.3em;
	}

	.slide-question
	{
		font-size: 1em;
	}

	.slide-container
	{
		margin: 0 auto;
	}

	.slide-header
	{
		border-radius: 0;
	}

	.welcome
	{
		padding-left:  10px;
		padding-right: 10px;
	}

	.welcome span
	{
		font-size: 1.3em;
	}

	.welcome .w-instr
	{
		font-size: 1.3em;
	}

	div[class$=-test-button]
	{
		padding: 10px 20px;
	}
}