body
{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	/*background-image: url(../img/back.png#blur);*/
	/*background-size: 26%;*/
	/*background-color: #4D4BB8;*/
	/*background-color: #d4d4d4;*/
	/*background: url(../img/back-main.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;*/
	color: black;
}

/*.main-background
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(../img/back-main.jpg);
	background-position: center;
	background-size: cover;
	z-index: -1	;
}*/

.not-found-placeholder
{
	padding-top: 100px;
	text-align: center;
	font-size: 2.6em;
	color: white;
}


.hidden-block
{
	display: none;
}

.slide-content
{
	text-align: center;
	background: white;
}

a:link,
a:visited,
a:hover,
a:active
{
	text-decoration: none;
}

.page-action, .action-meta
{
	display: none;
}

.access-block
{
	margin: 70px auto;
	text-align: center;
}

.font-buttons
{
	display: inline-block;
}

.font-buttons div
{
	border-radius: 3px;
	float: left;
	text-indent: 70px;
	margin: 0 2px;
	background-color: white;
	font-size: 1.5em;
	height: 70px;
	line-height: 70px;
	color: #333;
	width: 220px;
	text-align: center;
	background-size: 50px;
	background-position: 10px center;
	background-repeat: no-repeat;
	overflow: hidden;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.font-buttons div:hover
{
	margin: 0 15px;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.login-b
{
	background-image: url(../img/login.png);
}

.regs-b
{
	background-image: url(../img/register.png);
}

.login-error
{
	text-align: center;
	font-size: 1.3em;
	color: #dc232b;
	padding: 0 0;
	overflow: hidden;
	max-height: 0px;
	opacity: 0;

	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;

}

/********************************/
/********Main template end*******/
/********************************/

.site-bar
{
	width: 900px;
	margin: 0 auto 20px auto;
	padding: 20px 10px 0 10px;
	background: white;
	border-radius: 0 0 4px 4px;
}

.main-logo
{
	font-size: 1.6em;
	color: #333;
	padding-bottom: 5px;
	font-weight: 700;
	font-style: italic;
}

.main-logo
{
}

.masthead-brand
{
	margin-top: 0;
}

.masthead-nav
{
	padding-top: 15px;
}

.main-buttons
{
	float: right;
	padding: 0;
	margin: 0;
}

.inner
{
	padding-top: 15px;
}

.main-buttons li
{
	display: inline-block;
}

.main-buttons a
{
	font-weight: 500;
	color: #333;
	display: block;
	padding: 15px 6px;
	font-size: 1.3em;
	border-bottom: 2px solid transparent;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.main-buttons a:hover
{
	background: #7A7A7A;
	border-bottom-color: #333;
}

/*********************************/
/********Main tempalate end*******/
/*********************************/

.login-error-visible
{
	max-height: 40px;
	opacity: 1;
}

.enter-block
{
	position: relative;
	border-radius: 3px;
	width: 45%;
	padding: 10px;
	margin: 100px auto 0;
	background: white;
	text-align: center;
	overflow: hidden;
}

.complete-block
{
	font-size: 2em;
	color: white;
}

.enter-header
{
	text-align: center;
	font-size: 2.0em;
	padding: 5px 0 10px 0;
	color: #333;
}

.c-input
{
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
}

.c-input:last-child
{
	margin-bottom: 0;
}

.l_pass
{
	margin-top: 10px;
}

.enter-block input,
.c-input input,
.c-input .place-wrap
{
	padding: 5px;
	font-size: 1.2em;
}

.enter-block .red-input
{
	border-bottom-color: red;
}

.enter-block input,
.c-input input
{
	width: 100%;
	border: none;
	background: #333;
	color: white;
	border-bottom: 3px solid transparent;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.enter-block input:focus,
.c-input input:focus
{
	outline: none;
}

.c-input .place-wrap
{
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	position: absolute;
	color: #A8A8A8;
}

.remember-block > *
{
	float: left;
	width: initial !important;
	margin-right: 10px;
	color: #333;
	font-size: 1.1em;
}

.forgot-wrapper
{
	margin-top: 10px;
}

.forgot-wrapper a
{
	color: #333;
	font-size: 1.1em;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.forgot-wrapper a:hover
{
	color: #ADADAD;
}

.go-button,
.restore-home-button
{
	border-radius: 3px;
	padding: 10px 30px;
	background: #333;
	border: 3px solid #333;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3em;
	color: white;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.go-button:hover,
.restore-home-button:hover
{
	border-color: #333;
	background: white;
	color: #333;
}

.welcome
{
	margin-top: 5px;
	text-align: center;
}

.welcome span
{
	display: block;
	font-size: 2em;
	color: white;
	/*text-shadow: 0px 0px 12px rgba(10, 10, 10, 1);*/
}

.main-video
{
	display: none;
}

.logo-wrapper
{
	text-align: center;
	margin: 10px 0 ;
}

.logo-wrapper img
{
	display: inline-block;
	max-width: 30%;
	width: 30%;
	height: auto;
}

.try-wrapper
{
	text-align: center;
	perspective: 600px;
}


.welcome .w-instr
{
	font-size: 1.4em;
	text-align: center;
	padding: 10px 0;
}

div[class$=-test-button]
{
	background: white;
	border: 3px solid white;
	margin: 10px auto;
	padding: 15px 40px;
	font-size: 1.5em;
	display: inline-block;
	border-radius: 3px;
	cursor: pointer;
	color: #333;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

div[class$=-test-button]:hover:not(.home-test-button)
{
	background: #333;
	color: white;
	border-color: white;
}

.test-container
{
	perspective: 600px;
}

.inst-wrap
{
	opacity: 0;
	margin-left: -40px;
	-webkit-transform: scale(.8) rotateY(-10deg);
	-ms-transform: scale(.8) rotateY(-10deg);
	-o-transform: scale(.8) rotateY(-10deg);
	transform: scale(.8) rotateY(-10deg);

	-webkit-transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-o-transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.inst-header
{
	margin-top: 30px;
	background: #484848;
	color: white;
	text-align: center;
	padding: 10px 10px;
	font-size: 1.2em;
	min-height: 90px;
}

.inst-body
{
	background: white;
	text-align: center;
	height: 140px;
	padding: 20px 0;
}

.inst-img
{
	max-height: 100%;
	height: 100%;
	width: auto;
	max-width: 100%;
	display: inline-block;
}

.try-wrapper .tested-test-button
{
	opacity: 0;
	margin-left: -40px;
	-webkit-transform: scale(.7) rotateY(-10deg);
	-ms-transform: scale(.7) rotateY(-10deg);
	-o-transform: scale(.7) rotateY(-10deg);
	transform: scale(.7) rotateY(-10deg);
}

.user-controls
{
	position: relative;
	text-align: right;
}

/*.exit-button
{
	cursor: pointer;
	background: white;
	border: 2px solid white;
	border-radius: 3px;
	margin-left: 10px;
	font-size: 1.3em;
	padding: 4px 17px;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.exit-button:hover
{
	background: transparent;
	color: #333;
}*/

.thx-text
{
	color: #686868;
	text-align: center;
	font-size: 3em;
	padding: 40px 0;
}

/**********************/
/*******Test part******/
/**********************/

/********************************/
/**********Question part*********/
/********************************/

.fixed-home-button
{
	position: fixed;
	top: 0;
	right: 10px;
}

.fixed-home-button .home-test-button,
.header-home-button .home-test-button
{
	width: 60px;
	height: 60px;
	padding: 0;
	background-image: url(../img/home.png);
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;
	margin-bottom: 0px;
	border-color: white;
	background-color: #333;
}

.fixed-home-button .home-test-button:hover
{
}

.header-home-button
{
	display: none;
}

.header-home-button .home-test-button
{
	width: 30px;
	height: 30px;
	background-color: #333;
	border-color: white;
}

.slide-container
{
	width: 60%;
	overflow: hidden;
	margin: 10px auto 0 auto;
}

.slide-header
{
	border-radius: 4px 4px 0 0;
	padding: 10px 5px;
	text-align: left;
	background: white;
	border-bottom: 1px solid #333;
	font-size: 1.5em;
	color: #333;
}

.slide-question
{
	background: white;
	text-align: left;
	padding: 10px 5px;
	border-bottom: 1px solid #333;
	font-size: 1.3em;
	color: #333;
}

.slide
{
	display: none;
}

.visible-slide
{
	display: block;
}

ziggeorecorder .ba-videoplayer-playbutton-container
{
	display: none;
}

/********************************/
/********Question part end*******/
/********************************/