body
{
	color: #3A3A3A;
	font-family: 'Open Sans', sans-serif;
	background: #f4f4f4;
	margin: 0;
	padding: 0;
}

input.wrong-input
{
	border-bottom: 2px solid #DF0E0E !important;
}

input[type=text],
input[type=email],
input[type=password]
{
	width: 100%;
	background: white;
	color: #6c6c6c;
	padding: 8px;
	font-size: 1.2em;
	border-radius: 5px;
	box-shadow: none;
	border: none;
	margin-bottom: 20px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus
{
	border: none;
	outline: none;
}

.red { color: #e12222; }
.yellow { color: #e19817; }
.green { color: green; }

.checkbox
{
	margin-bottom: 0;

	input
	{
		display: none;
	}

	.check
	{
		display: block;
		position: relative;
		float: left;
		width: 23px;
		height: 23px;
		border-radius: 4px;
		border: 2px solid #323C67;

		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}

	input ~ .check:before
	{
		content: '';
		display: block;
		position: absolute;
		opacity: 0;
		top: -6px;
		left: 6px;
		width: 8px;
		height: 15px;
		border-bottom: 2px solid #5876FA;
		border-right: 2px solid #5876FA;

		-webkit-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		-o-transform: rotate(40deg);
		transform: rotate(40deg);

		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}

	&.white input ~ .check:before
	{
		border-bottom: 2px solid white;
		border-right: 2px solid white;
	}

	a > .head
	{
		&:hover
		{
			text-decoration: underline;
		}
	}

	.head
	{
		padding-left: 0;
		display: block;
		float: left;
		margin-left: 15px;
		color: #3A3A3A;
		font-size: 1.2em;
	}

	&.white .head
	{
		color: white;
	}

	input:checked ~ .check:before
	{
		opacity: 1;
		top: 1px;
	}

	input:checked ~ .check
	{
		border-color: #26c7ca;
	}
}

@-webkit-keyframes loading-font {
	from { 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	 }
	to { 
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	 }
}
@-o-keyframes loading-font {
	from { 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	 }
	to { 
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	 }
}
@-moz-keyframes loading-font {
	from { 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	 }
	to { 
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	 }
}
@keyframes loading-font {
	from { 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	 }
	to { 
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	 }
}

i.fa-circle-o-notch.active-loading
{
	margin-left: 7px;
	-webkit-animation: loading-font .5s infinite linear;
	-o-animation: loading-font .5s infinite linear;
	animation: loading-font .5s infinite linear;
}

.dropdown
{
	position: relative;
	float: left;

	.title
	{
		font-size: 1.2em;
		background: #5876FA;
		padding: 8px 15px;
		color: white;
		border-radius: 3px;
		cursor: pointer;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;

		i
		{
			font-size: 1.4em;
			margin-left: 10px;
		}

	}

	.items
	{
		position: absolute;
		z-index: 1;
		left: 0px;
		right: 0px;
		top: 100%;
		margin-top: -20px;
		opacity: 0;
		visibility: hidden;
		border-top: 13px solid transparent;

		-webkit-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;

		&:before
		{
			content: '';
			position: absolute;
			bottom: 100%;
			left: 50%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 12px 10px;
			border-color: transparent transparent #5876FA transparent;

			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}

		.item
		{
			font-size: 1.2em;
			background: #5876FA;
			color: white;
			padding: 8px 14px;
			border-bottom: 1px solid white;
			cursor: pointer;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;

			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;

			&:last-child
			{
				border-bottom: none;
			}

			&:hover
			{
				background: #7E96FF;
			}
		}
	}

	&:hover .items
	{
				margin-top: 0px;
				opacity: 1;
				visibility: visible;
	}
}

.under-head
{
	border-bottom: 2px solid #5876FA;
	font-size: 1.3em;
	margin-bottom: 10px;
	padding: 6px 0;
}

.nomargin {margin: 0 !important;}
.nopadding {padding: 0 !important;}

.nomargin-left {margin-left: 0 !important;}
.nopadding-left {padding-left: 0 !important;}

.nomargin-right {margin-right: 0 !important;}
.nopadding-right {padding-right: 0 !important;}

.nomargin-bottom {margin-bottom: 0 !important;}
.nopadding-bottom {padding-bottom: 0 !important;}

.nomargin-top {margin-top: 0 !important;}
.nopadding-top {padding-top: 0 !important;}

.floatleft {float: left !important;}
.floatright {float: right !important;}
.hidden {display: none !important;}
.hidden-id {display: none !important;}
.ohidden {overflow: hidden !important;}
.ilcenter {text-align: center !important;}
.illeft {text-align: left !important;}
.inline {display: inline-block;}
.block {display: block !important;}
.fullwidth {width: 100% !important;}
.uselectn
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.hightlight
{
	background: white !important;
	padding: 15px !important;

	-webkit-box-shadow: 0px 0px 50px -2px #b2b2b2 !important;
	-moz-box-shadow: 0px 0px 50px -2px #b2b2b2 !important;
	box-shadow: 0px 0px 50px -2px #b2b2b2 !important;
}
.trsnone
{
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.margin-bottom-10
{
	margin-bottom: 10px;
}

.margin-10
{
	margin: 10px 0;
}

.margin-15
{
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.margin-right-20
{
	margin-right: 20px;
}

.margin-top-110
{
	margin-top: 110px;
}

.margin-top-70
{
	margin-top: 70px;
}

.not-found-page
{
	margin-top: 30vh;
	padding: 30px 0;
	background: #5876FA;

	span
	{
		display: block;
		color: white;
		text-align: center;
		font-size: 1.4em;
		margin-bottom: 20px;
	}

	.button
	{
		font-size: 1.6em;
	}
}

.regular-button
{
	display: inline-block;
	text-align: center;
	font-size: 1.2em;
	color: white;
	padding: 8px 15px;
	border-radius: 5px;
	cursor: pointer;
	background: #5876FA;

	i
	{
		padding: 0 5px;
		font-size: 1.2em;

		-webkit-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
	}

	&:hover i
	{
		padding: 0 10px;
	}
}

a,
a:focus,
a:hover,
a:active,
a:visited
{
	color: #3A3A3A;
	text-decoration: none;
}

a.link,
a.link:focus,
a.link:active,
a.link:visited
{
	color: #23527c;
	text-decoration: none;
}

a.link:hover
{
	color: #23527c;
	text-decoration: underline;
}

footer
{
	background: #272727;
	padding: 20px 0;
	text-align: center;

	.links
	{
		a
		{
			font-size: 1.2em;
			color: white;
			text-transform: uppercase;
			padding: 4px 10px;
			border-right: 1px solid white;

			&:last-child
			{
				border-right: 0px;
			}

			&:hover
			{
				text-decoration: underline;
			}
		}
	}

	.copr
	{
		color: white;
		font-size: 1.1em;
		margin-top: 20px;
	}
}

video
{
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.button, .update-button
{
	cursor: pointer;
	display: inline-block;
	font-family: 'Quicksand';
	font-size: 1.8em;
	padding: 8px 30px;
	border-radius: 5px;
	border: none;
	color: white;

	background: #fc00ff;
	background: -webkit-linear-gradient(left, #3e55ff, #c565e2);
	background: -o-linear-gradient(left, #3e55ff, #c565e2);
	background: linear-gradient(to right, #3e55ff, #c565e2);
}

.confirm-page
{
	.confirm-block
	{
		padding: 260px 30px;
		text-align: center;

		span
		{
			display: block;
			text-align: center;
			font-size: 1.7em;
			margin-bottom: 30px;
		}
	}
}

.content-area
{
	padding: 0 100px 50px 100px;
}

.header-menu
{
	padding: 0 100px 25px 100px;
	background: #5876FA;
	font-size: 15px;

	.top-part
	{
		margin-top: 30px;
		float: left;
		width: auto;

		.logo
		{
			display: block;
			float: left;
			max-width: 70px;
			height: auto;
		}

		.menu-button
		{
			position: relative;
			margin-top: 15px;
			cursor: pointer;
			display: none;
			float: right;
			width: 50px;
			height: 40px;

			.button-row
			{
				position: absolute;
				height: 3px;
				width: 100%;
				background: white;
				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
			}

			.row-1
			{
				top: 0;
				left: 0;
				transform-origin: left bottom;
			}

			.row-2
			{
				top: 50%;
				left: 0;
				transform-origin: center;

				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}

			.row-3
			{
				bottom: 0;
				left: 0;
				transform-origin: left top;
			}

			&.active
			{
				.row-1
				{
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
				}

				.row-2
				{
					opacity: 0;
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}

				.row-3
				{
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
		}
	}

	.items
	{
		padding-top: 40px;
		float: right;
		min-width: 863;

		.menu-item
		{
			display: block;
			float: left;
			color: white;
			cursor: pointer;
			font-family: 'Quicksand';
			font-size: 1.4em;
			padding: 10px;
			border-bottom: 2px solid transparent;
			border-right: 1px solid white;

			-webkit-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;

			&:hover
			{
				color: #dfdfdf;
			}

			&:last-child
			{
				border-right: none;
			}
		}
	}
}

.login-page
{
	.sides
	{
		height: 100vh;
	}

	.left-side
	{
		background: #5876fa;
		text-align: center;
	}

	.register-complete
	{
		padding-top: 160px;

		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;

		opacity: 0;
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-o-transform: translateY(-30px);
		transform: translateY(-30px);

		&.active
		{
			opacity: 1;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}

		img
		{
			display: block;
			max-width: 15%;
			height: auto;
			margin: 0 auto 20px auto;
		}

		.title
		{
			font-size: 2.3em;
			font-family: 'Quicksand';
			text-align: center;
			margin-top: 35px;
			margin-bottom: 10px;
			color: white;
		}

		span
		{
			display: block;
			text-align: center;
			font-size: 1.3em;
			color: white;
			padding: 20px;
		}

		.action-link
			{
				color: white;
				font-size: 1.2em;

				&:hover
				{
					text-decoration: underline;
				}
			}
	}

	.input-block
	{
		position: relative;
		perspective: 800px;
		display: inline-block;
		width: 45%;

		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;

		&.done
		{
			opacity: 0;
			-webkit-transform: translateY(30px);
			-ms-transform: translateY(30px);
			-o-transform: translateY(30px);
			transform: translateY(30px);
		}

		& > *
		{
			-webkit-transition: all 1s cubic-bezier(1,.2,.41,1);
			-o-transition: all 1s cubic-bezier(1,.2,.41,1);
			transition: all 1s cubic-bezier(1,.2,.41,1);
		}

		.preload
		{
			opacity: 0;
			-webkit-transform: translateY(100px) scale(0.9) rotateX(-20deg);
			-ms-transform: translateY(100px) scale(0.9) rotateX(-20deg);
			-o-transform: translateY(100px) scale(0.9) rotateX(-20deg);
			transform: translateY(100px) scale(0.9) rotateX(-20deg);
		}

		.title
		{
			font-size: 2.3em;
			font-family: 'Quicksand';
			text-align: center;
			margin-bottom: 20px;
			color: white;
		}

		.button
		{
			margin-bottom: 10px;
		}

		input
		{
			margin-bottom: 10px;
		}

		img
		{
			display: block;
			max-width: 80px;
			height: auto;
			margin: 0 auto 20px auto;
		}

		.ilcenter
		{
			margin-bottom: 10px;

			.action-link
			{
				color: white;
				font-size: 1.2em;

				&:hover
				{
					text-decoration: underline;
				}
			}
		}
	}

	.right-side
	{
		position: relative;

		.preload
		{
			opacity: 0;

			-webkit-transform: translate(-50%, ~'calc(-50% + 100px)');
			-ms-transform: translate(-50%, ~'calc(-50% + 100px)');
			-o-transform: translate(-50%, ~'calc(-50% + 100px)');
			transform: translate(-50%, ~'calc(-50% + 100px)');
		}
		
		img
		{
			display: block;
			position: absolute;

			max-width: 50%;
			height: auto;
			top: 50%;
			left: 50%;

			-webkit-transition: all 2s cubic-bezier(.5,.55,.29,.93);
			-o-transition: all 2s cubic-bezier(.5,.55,.29,.93);
			transition: all 2s cubic-bezier(.5,.55,.29,.93);

			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}

		.imac
		{
			max-width: 70%;
		}

		.nexus
		{
			max-width: 12%;
			left: 64%;
			top: 63%;
		}

		.iphone,
		{
			z-index: 1;
			max-width: 12%;
			top: 63%;
			left: 72%;
		}
	}
}

.note
{
	border-left: 3px solid #56ACDD;
	padding: 10px;
	margin: 10px 0;
	background: #dedefe;

	.icon
	{
		float: left;
		width: 50px;
		height: 50px;
		background: url(../img/tip-icon.png) center no-repeat;
		background-size: 20px;
	}

	.content
	{
		font-size: 1.1em !important;
		margin-bottom: 0 !important;
	}
}

.content-area
{
	.page-head
	{
		padding: 20px 0;
		margin-top: 30px;

		img
		{
			max-width: 80px;
			height: auto;
		}

		.title
		{
			padding: 15px 0 15px 35px;
			font-size: 1.5em;
			text-transform: uppercase;
		}
	}

	.content
	{
		font-size: 1.1em;
		margin-bottom: 40px;

		.head
		{
			font-size: 1.7em;
		}
	}
}

.tabs-widget
{
	border: 1px solid #dedede;

	.tabs
	{
		
		.tab-item
		{
			margin-bottom: 0px;
			float: left;
			font-weight: 500;
			padding: 7px 10px;
			background: rgba(222, 222, 222, 0.69);
			border-right: 1px solid white;
			font-size: 1.1em;
			cursor: pointer;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;

			-webkit-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;

			&:hover
			{
				background: rgba(208, 208, 208, 0.92);
			}

			&:active
			{
				background: rgba(175, 175, 175, 0.8);
			}

			&.active
			{
				background: rgba(142, 142, 142, 0.8);
			}
		}
	}

	.card-tab-item
	{
		background: whitesmoke;
		overflow: hidden;
		padding: 10px;
		margin-bottom: 0px;
		font-weight: 500;
		font-size: 1.1em;
		visibility: hidden;
		opacity: 0;
		display: none;

		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;

		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		-o-transform: translateX(30px);
		transform: translateX(30px);

		&.active
		{
			visibility: visible;
			opacity: 1;

			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			-o-transform: translateX(0);
			transform: translateX(0);
		}
	}
}

.visual-chart
{
	width: 100%;
	height: 400px;
}

.blog-post
{
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;

	-webkit-transition: all 1s cubic-bezier(1,.2,.41,1);
	-o-transition: all 1s cubic-bezier(1,.2,.41,1);
	transition: all 1s cubic-bezier(1,.2,.41,1);

	opacity: 1;
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);

	&.preload
	{
		opacity: 0;
		-webkit-transform: translateY(100px) scale(0.95) rotateX(-20deg);
		-ms-transform: translateY(100px) scale(0.95) rotateX(-20deg);
		-o-transform: translateY(100px) scale(0.95) rotateX(-20deg);
		transform: translateY(100px) scale(0.95) rotateX(-20deg);
	}

	.head
	{
		font-size: 1.4em;
		margin-bottom: 10px;
	}

	.date
	{
		margin-bottom: 5px;

		i
		{
			color: #56ACDD;
		}
	}

	.content
	{
		margin-bottom: 0;
	}
}

.page-descr
{

}

.qa-block
{
	padding: 15px;
	margin-bottom: 25px;

	/*-webkit-box-shadow: 0px 0px 50px -2px #b2b2b2;
	-moz-box-shadow: 0px 0px 50px -2px #b2b2b2;
	box-shadow: 0px 0px 50px -2px #b2b2b2;*/

	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

	opacity: 1;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);

	&.preload
	{
		opacity: 0;
		-webkit-transform: translateY(50px);
		-ms-transform: translateY(50px);
		-o-transform: translateY(50px);
		transform: translateY(50px);
	}

	.icon
	{
		display: none;
		position: absolute;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #5876FA;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 22px;
	}

	ul li
	{
		color: #5876FA;
	}

	ul li span
	{
		color: #3A3A3A;
	}

	.content
	{
		padding: 10px 0 0 10px;
		margin-bottom: 0px;
	}

	.question
	{
		position: relative;
		margin-bottom: 10px;
		font-weight: bold;

		.icon
		{
			background-image: url(../img/question-icon.png);
			background-size: 14px;
			left: -35px;
			top: -32px;
		}
	}

	.answer
	{
		position: relative;

		.icon
		{
			background-image: url(../img/ans-icon.png);
			left: -35px;
			top: -4px;
		}
	}
}

.account-inputs
{
	-webkit-transition: all 1s cubic-bezier(1,.2,.41,1);
	-o-transition: all 1s cubic-bezier(1,.2,.41,1);
	transition: all 1s cubic-bezier(1,.2,.41,1);

	opacity: 1;
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);

	&.preload
	{
		opacity: 0;
		-webkit-transform: translateY(100px) scale(0.9) rotateX(-20deg);
		-ms-transform: translateY(100px) scale(0.9) rotateX(-20deg);
		-o-transform: translateY(100px) scale(0.9) rotateX(-20deg);
		transform: translateY(100px) scale(0.9) rotateX(-20deg);
	}

	input
	{
		background: #e6e6e6;
	}
}


.sim-block
{
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;

	opacity: 1;
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);

	-webkit-transition: all 1s cubic-bezier(1,.2,.41,1);
	-o-transition: all 1s cubic-bezier(1,.2,.41,1);
	transition: all 1s cubic-bezier(1,.2,.41,1);

	&.preload
	{
		opacity: 0;
		-webkit-transform: translateY(100px) scale(0.9) rotateX(-20deg);
		-ms-transform: translateY(100px) scale(0.9) rotateX(-20deg);
		-o-transform: translateY(100px) scale(0.9) rotateX(-20deg);
		transform: translateY(100px) scale(0.9) rotateX(-20deg);
	}

	.head
	{
		background: #474747;
		padding: 10px;
		color: white;
		font-size: 1.6em;
	}

	.table-content:nth-child(even)
	{
		background: #e2e2e2;
	}

	.sim-details
	{
		padding: 10px;
		font-size: 1em;
		border-bottom: 1px solid #E1E1E1;
	}

	.table-head
	{
		color: white;
		background: #9e9e9e;
	}

	.table-head > *
	{
		text-align: center;
	}

	.sim-details .left
	{
		width: 25%;
	}

	.sim-details .center
	{
		width: 50%;
	}

	.sim-details .right
	{
		width: 25%;
	}

	.table-content > *
	{
		text-align: center;
	}

	.take-sim-wrap
	{
		text-align: left;
		padding: 10px;
	}
}

.video-page-head
{
	text-align: center;
	margin-bottom: 20px;

	.title
	{
		font-size: 1.3em;
		color: white;
		background: #474747;
		width: 65%;
		float: left;
		padding: 14px;
		border-radius: 4px 0 0 4px;
	}

	.score
	{
		font-size: 1.3em;
		float: left;
		width: 35%;
		padding: 14px;
		background: #E2E2E2;
		border-radius: 0 4px 4px 0;
	}
}

.video-block
{
	.head
	{
		font-size: 1.7em;
		color: #5876FA;
		padding: 10px 0;
	}

	video
	{
		margin: 0 auto;
		width: 100%;
		max-height: 300px;
		height: auto;
	}
}

.observe
{
	.title
	{
		font-size: 1.4em;
		color: #5876FA;
		padding: 10px 0;
	}

	.content
	{
		font-size: 1.1em;
		margin-bottom: 10px;
	}
}

.score-col
{
	margin-top: 30px;
	border: 1px solid #474747;
	border-radius: 4px 4px 0 0;

	.main-head
	{
		padding: 10px;
		font-size: 1.6em;
		background: #474747;
		color: white;
	}

	.sub-head
	{
		font-size: 1.2em;
		padding: 10px;
		background: #E2E2E2;
		color: #2B2B2B;
	}

	.score-block
	{
		.score-row
		{
			tbody
			{
				border-bottom: 7px solid #C2C2C2;
			}

			tr
			{
				border-bottom: 1px solid #ACACAC;

				td:first-child
				{
					padding: 10px;
					background: #d8d8d8;
					vertical-align: middle;
					text-align: center;
					font-size: 1.1em;
					width: 28%;
				}

				td:last-child
				{
					padding: 10px;
					vertical-align: middle;
					text-align: left;
					font-size: 1.1em;
					width: 72%;
				}

				&:last-child
				{
					border-bottom: none;
				}
			}
		}
	}
}

.video-page
{
	.video-wrap
	{
		.video-item
		{
			position: relative;
			margin: 30px auto 0 auto;
			width: 600px;
			height: 385px;

			.video-slide
			{
				position: absolute;
				display: block;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 1;
				overflow: hidden;

				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;

				.video-header
				{
					font-size: 1.3em;
					padding: 10px;
					border-left: 3px solid #5876FA;
					background: #eaeaea;
					margin-left: 0px;

					transition-delay: .5s;
					-webkit-transition: all .4s;
					-o-transition: all .4s;
					transition: all .4s;
				}

				.video-content
				{
					width: 600px;
					height: 340px;

					.video-preload
					{
						height: 380px;
						line-height: 380px;
						font-size: 1.5em;
						text-align: center;

						span
						{
							margin-right: 15px;
						}
					}
				}

				&.prev
				{
					opacity: 0;
					-webkit-transform: translateX(-30px);
					-ms-transform: translateX(-30px);
					-o-transform: translateX(-30px);
					transform: translateX(-30px);
				}

				&.next
				{
					opacity: 0;
					-webkit-transform: translateX(30px);
					-ms-transform: translateX(30px);
					-o-transform: translateX(30px);
					transform: translateX(30px);

					.video-header
					{
						margin-left: 70px;
					}
				}
			}
		}

		.question-data
		{
			margin: 30px auto 0 auto;
			width: 600px;

			.title
			{
				border-left: 3px solid #5876FA;
				float: left;
				font-size: 1.3em;
				padding: 8px 20px 8px 20px;
				background: #eaeaea;
			}

			.value
			{
				float: left;
				font-size: 1.3em;
				padding: 8px 20px 8px 10px;
			}
		}
	}

	.stats-wrap
	{
		margin-top: 15px;
		background: #5876FA;
		text-align: center;

		.question-titles
		{
			display: inline-block;
			padding-top: 15px;

			.info-item
			{
				float: left;
				margin-right: 20px;

				&:last-child
				{
					margin-right: 0px;
				}

				.title
				{
					background: rgba(255, 255, 255, 0.22);
					color: #eaeaea;
					border-radius: 3px;
					font-size: 1.3em;
					padding: 10px 15px;
					float: left;
				}

				.value
				{
					color: #d4d4d4;
					font-size: 1.3em;
					padding: 10px 15px;
					float: left;
				}
			}
		}

		.controls
		{
			padding: 20px 0;
			display: inline-block;

			.direction-progress
			{
				position: relative;
				cursor: default;
				display: block;
				float: left;
				height: 50px;
				width: 70px;
				line-height: 45px;
				text-align: center;
				color: #bdbdbd;
				font-size: 1.2em;
				margin: 0 10px;
				border: 3px solid #536bd4;
				border-left: none;

				&.prev-progress
				{
					border-radius: 3px 3px 0 0;
				}

				&:before
				{
					content: '';
					position: absolute;
					top: -3px;
					right: 100%;

					width: 0;
					height: 0;
					border-style: solid;
					border-width: 25px 28px 25px 0;
					border-color: transparent #536bd4 transparent transparent;
				}

				&:after
				{
					content: '';
					position: absolute;
					top: 0;
					right: 100%;

					width: 0;
					height: 0;
					border-style: solid;
					border-width: 22px 23px 21px 0;
					border-color: transparent #5876FA transparent transparent;
				}

				&.prev-progress
				{
					margin-left: 55px;
				}

				&.next-progress
				{
					border-left: 3px solid #536bd4;
					border-right: none;
					margin-right: 35px;
					border-radius: 3px 0 0 3px;

					&:before
					{
						content: '';
						position: absolute;
						top: -3px;
						left: 100%;

						width: 0;
						height: 0;
						border-style: solid;
						border-width: 25px 0 25px 28px;
						border-color: transparent transparent transparent #536bd4;
					}

					&:after
					{
						content: '';
						position: absolute;
						top: 0;
						left: 100%;

						width: 0;
						height: 0;
						border-style: solid;
						border-width: 22px 0 21px 23px;
						border-color: transparent transparent transparent #5876FA;
					}
				}
			}

			.progress-item
			{
				cursor: default;
				display: block;
				float: left;
				height: 50px;
				width: 50px;
				line-height: 45px;
				text-align: center;
				color: #bdbdbd;
				border-radius: 50%;
				font-size: 1.2em;
				margin: 0 10px;
				border: 3px solid #536bd4;

				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;

				&.active
				{
					border-color: #2cc3fd;
					color: white;
					margin: 0 25px;
				}
			}

			.sim-button
			{
				position: relative;
				margin-left: 20px;
				cursor: pointer;
				display: block;
				float: left;
				height: 50px;
				line-height: 47px;
				font-size: 1.2em;
				padding: 0 20px;
				border-radius: 6px;
				color: #E0E0E0;
				border: 3px solid #5191f1;
				opacity: 1;
				visibility: visible;

				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				-o-transform: translateX(0);
				transform: translateX(0);

				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;

				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;

				&.point-left
				{
					i
					{
						margin-right: 20px;
						margin-left: 0;
					}
				}
				
				&.disabled
				{
					opacity: .8;
					-webkit-transform: scale(0.9);
					-ms-transform: scale(0.9);
					-o-transform: scale(0.9);
					transform: scale(0.9);
					cursor: default;

					&:hover
					{
						border-color: #5191f1;
					}
				}

				&:hover
				{
					border-color: #2cc3fd;
				}

				i
				{
					margin-left: 20px;
				}
			}
		}
	}
}

.required-field
{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background: white;
	width: 160px;
	margin: 0px;
	padding: 5px 10px;
	border-radius: 4px;
	margin-left: 5px;
	padding: 5px;
	font-size: 1em;
	opacity: 0;

	-webkit-transition: opacity .3s, margin .3s !important;
	-o-transition: opacity .3s, margin .3s !important;
	transition: opacity .3s, margin .3s !important;

	&.active
	{
		opacity: 1;
		margin-left: 20px;
	}
}

/************/
/*Responsive*/
/************/

@media screen and (max-width: 767px)
{
	/*Header menu*/
	.header-menu
	{
		padding: 10px;

		.top-part
		{
			float: none;
			width: 100%;
			margin-top: 0;

			.menu-button
			{
				display: block;
				transform-origin: 20px 20px;

				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
			}
		}

		.items
		{
			padding-top: 0;
			float: none;
			display: none;

			.menu-item
			{
				float: none;
				width: 100%;
				border-right: none;
				text-align: right;
				border-radius: 4px;

				&:hover
				{
					padding-right: 20px;
				}

				&:active
				{
					padding-right: 30px;
					background: white;
					color: #393939;
				}
			}
		}
	}

	/*Login/Register pages*/

	.login-page
	{
		.input-block
		{
			max-width: 80%;
			width: 80%;
		}
	}

	.content-area
	{
		padding: 0 30px 50px 30px;

		.page-head
		{
			padding: 15px 0;
		}
	}
}

.forgot-page
{
	.input-box
	{
		margin: 200px auto 0 auto;
		padding: 20px;
		border-radius: 5px;
		background: #dfdfdf;
		width: 400px;

		opacity: 1;
		visibility: visible;

		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);

		.title
		{
			font-size: 1.4em;
		}

		.description
		{
			margin-top: 5px;
			font-size: 1.1em;
		}

		.input-block
		{
			margin-top: 15px;

			.title
			{
				font-size: 1.1em;
				float: left;
				padding: 9px 0;
			}

			input
			{
				float: right;
				width: 65%;
				margin-bottom: 0;
			}
		}

		.forgot-button
		{
			margin-top: 15px;
			cursor: pointer;
			font-size: 1.2em;
			background: #5876FA;
			color: white;
			padding: 13px 20px;
			border-radius: 5px;
			display: inline-block;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;

			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;

			&:hover
			{
				background: #768FFF;
			}
		}
	}
}