body
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #25282F;
	position: relative;
	overflow-x: hidden;
	color: white;
	font-size: 14px;
}

.margin-top-20
{
	margin-top: 20px;
}

.click-blocker:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.page-list
{
	overflow: hidden;
}

.onremove-list-item
{
	opacity: 1;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	transform: translateY(-50px);
}

.save-style-button
{
	color: #1bd36f !important;
	border-color: #2f6447 !important;
}

.save-style-button:hover
{
	border-color: #1bd36f !important;
}

.btn-wrap.align-left
{
	text-align: left;
}

.btn-wrap.align-right
{
	text-align: right;
}

.float-left
{
	float: left;
}

.spacer
{
	margin-top: 10px;
}

/*Select widget*/

.vertical-select-widget
{
	overflow: hidden;
	border-radius: 6px;
	border: 2px solid #59A9C2;
	position: relative;
}


.vertical-select-widget .select-item
{
	padding: 12px 10px;
	font-size: 1.3em;
	color: white;
	background: rgba(54, 125, 147, 0.68);
	text-align: center;
	cursor: pointer;
	border-bottom: 2px solid #59A9C2;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.vertical-select-widget .select-item:last-child
{
	border-bottom: none;
}

.vertical-select-widget .select-item:hover
{
	background: rgba(54, 125, 147, 0.9);
}

.vertical-select-widget .select-mode
{
	position: absolute;
	width: 100%;
	top: 0;
	background: rgba(62, 172, 255, 0.42);

	-webkit-transition: all .2s cubic-bezier(.73,.01,.36,1);
	-o-transition: all .2s cubic-bezier(.73,.01,.36,1);
	transition: all .2s cubic-bezier(.73,.01,.36,1);
}

/*Hover buttom*/

.hover-button
{
	border: 2px solid #59A9C2;
	padding: 10px;
	margin-right: 10px;
	display: inline-block;
	border-radius: 26px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	cursor: pointer;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.hover-button .img
{
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: none;
	background-size: 26px;
}

.hover-button .title
{
	font-size: 1.3em;
	color: white;
	margin-left: 0;
	overflow: hidden;
	max-width: 0px;
	white-space: nowrap;
	opacity: 0;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.hover-button:hover
{
	border-radius: 9px;
}

.hover-button:hover .title
{
	max-width: 200px;
	margin-left: 10px;
	opacity: 1;
}

/*Hover button ends*/

/*Trigger widget*/

.trigger-widget
{
	margin: 5px;
	display: table;
	vertical-align: middle;
	padding: 8px;
}

.trigger-widget .description
{
	color: white;
	font-size: 1.3em;
	padding: 5px 0;
	display: table-cell;
	vertical-align: middle;
	margin-right: 10px;
}

.trigger-widget .trigger-area
{
	position: relative;
	background: #60cbed;
	width: 50px;
	height: 20px;
	border-radius: 20px;
	margin: 7px;
	cursor: pointer;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.trigger-widget .trigger-area .circle
{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	background: white;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.trigger-widget-active .trigger-area
{
	background: #00a392;
}

.trigger-widget-active .trigger-area .circle
{
	left: 30px;
}

/*Trigger widget ends*/

.onpage-form input
{
	background: #3c4d71;
	margin-top: 10px;
}

.onpage-form input:focus
{
	background: #414b5d;
}

.onpage-form .button-wrap
{
	text-align: center;
}

.onpage-form .button-submit
{
	background: #26A65B;
	color: white;
}

.onpage-form .button-submit:hover
{
	background: transparent;
	border-color: #26A65B;
}

/*Items block styles*/

.inline-block
{
	display: inline-block;
}

.items-block
{
	background: #293142;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
}

.items-block .head
{
	color: #e1e1e1;
	font-size: 1.4em;
	text-align: center;
	padding: 0 10px 10px 10px;
}

/*Hover tip*/

.hover-tip
{
	width: 35px;
	height: 35px;
	background: #00CFFF url(../img/tip-icon.png) center no-repeat;
	background-size: 34%;
	border-radius: 50%;
	position: relative;
	cursor: help;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.hover-tip.inline
{
	display: inline-block;
}

.hover-tip:hover
{
	background-color: #00EEFF;
}

.test-name
{
	width: 100%;
}

.hover-tip .content
{
	z-index: 1;
	left: 100%;
	top: 100%;
	position: absolute;
	width: 200px;
	text-align: left;
	padding: 7px;
	background: #4778c6;
	color: white;
	font-size: 1.1em;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	cursor: default;

	-webkit-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

	transition-delay: 0.2s;

	-webkit-transform:scale(.9);
	-ms-transform:scale(.9);
	-o-transform:scale(.9);
	transform:scale(.9);
}

.hover-tip:hover .content
{
	opacity: 1;
	visibility: visible;

	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.hover-tip .content .tip
{
	text-align: center;
	padding: 0 0 0 5px;
}

.hover-tip .content .tip .img
{
	float: left;
	background: url(../img/tip-icon.png) right center no-repeat;
	background-size: 17px;
	width: calc(50% - 10px);
	height: 40px;
}

.hover-tip .content .tip span
{
	float: left;
	line-height: 40px;
	font-size: 1.2em;
	height: 40px;
	margin-left: 10px;
	width: 50%;
	text-align: left;
}

/*Tip positions*/

.hover-tip .content.left
{
	top: 100%;
	left: -200px;
}

.hover-tip .content.bottom
{
	top: 45px;
	left: -78px;
}

.hover-tip .content.top
{
	top: auto;
	left: -78px;
	bottom: 45px;
}

/*Hover tip ends*/

.not-found-placeholder
{
	padding-top: 225px;
	text-align: center;
	font-size: 2.3em;
	color: white;
}

.checkbox-block
{
	display: inline-block;
	position: relative;
	perspective: 300;
}

.checkbox-block input
{
	display: none;
}

.no-padding-bottom
{
	padding-bottom: 0 !important;
}

.checkbox-block input + label
{
	font-weight: 500;
	font-size: 1.3em;
	color: white;
	margin-left: 33px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}

.checkbox-block input + label:after
{
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	border: 2px solid transparent;
	background: url(../img/checkmark-white.png) center no-repeat;
	background-size: 18px;
	left: 0;
	top: 0;
	-webkit-transition: all .5s cubic-bezier(0.570, -0.600, 0.030, 1.300), background-color .4s;
	-o-transition: all .5s cubic-bezier(0.570, -0.600, 0.030, 1.300), background-color .4s;
	transition: all .5s cubic-bezier(0.570, -0.600, 0.030, 1.300), background-color .4s;

	opacity: 0;
	/*transform-origin: bottom top;*/
	-webkit-transform: scale(0.4) translateY(5px) rotateY(-30deg);
	-ms-transform: scale(0.4) translateY(5px) rotateY(-30deg);
	-o-transform: scale(0.4) translateY(5px) rotateY(-30deg);
	transform: scale(0.4) translateY(5px) rotateY(-30deg);
}

.checkbox-block input + label:before
{
	content: '';
	display: block;
	position: absolute;
	cursor: pointer;
	width: 24px;
	height: 24px;
	border: 2px solid white;
	border-radius: 3px;
	left: 0px;

	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.checkbox-block input:checked + label:before
{
	border-color: #59A9C2;
}

.checkbox-block input:checked + label:after
{
	opacity: 1;
	-webkit-transform: scale(1) translateY(0px) rotateY(0deg);
	-ms-transform: scale(1) translateY(0px) rotateY(0deg);
	-o-transform: scale(1) translateY(0px) rotateY(0deg);
	transform: scale(1) translateY(0px) rotateY(0deg);
}

/*Checkbox after styles*/

.checkbox-after input + label
{
	font-size: 1.4em;
	margin: 4px;
	color: #B0B0B0;
}

.checkbox-after input + label
{
	margin-right: 33px;
	margin-left: 0;
	min-width: 350px;
}

.checkbox-after.no-space input + label
{
	margin-right: 33px;
	margin-left: 0;
	min-width: auto;
}

.checkbox-after input + label:after
{
	right: 0;
	top: 4px;
	left: auto;
}

.checkbox-after input + label:before
{
	right: 0px;
	left: auto;
}

/*Style ends*/

.loading-hidden
{
	position: relative;
	width: 100%;
	/* height: 100%; */
	background: rgba(76, 76, 107, 0.8);
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	margin-bottom: -28px;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.loading-visible
{
	visibility: visible;
	opacity: 1;
	margin-top: 8px;
}

.loading-hidden .loader
{
	position: absolute;
	width: 130px;
	height: 130px;
	left: calc(50% - 65px);
	top: calc(50% - 65px);
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #E12C2C;
	animation-name: loading;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.loading-hidden .loader:before
{
	content: '';
	position: absolute;
	top: -9px;
	left: -9px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #66FF66;
	width: 142px;
	height: 142px;

	animation-name: loading;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.loading-hidden .loader:after
{
	content: '';
	position: absolute;
	top: -14px;
	left: -14px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #FF00CC;
	width: 153px;
	height: 153px;

	animation-name: loading;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes loading {
	from {-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);}
}
@-o-keyframes loading {
	from {-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);}
}
@-moz-keyframes loading {
	from {-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);}
}
@keyframes loading {
	from {-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);}
}

.content-block
{
	padding: 5px;
	border-radius: 4px;
	color: white;
	background: #293142;
}

.fa-item,
.fa-item:link,
.fa-item:visited,
.fa-item:active
{
	text-decoration: none;
	color: black;
}

.container-fluid, .row
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

div[class^=col-sm]
{
	padding-left: 0;
	padding-right: 0;
}

div.f-padding
{
	padding-left: 10px;
	padding-right: 10px;
}

.btn-wrap
{
	text-align: center;
}

.button
{
	display: inline-block;
	background: transparent;
	color: #70b5c3;
	font-size: 1.3em;
	margin-top: 10px;
	cursor: pointer;
	padding: 10px 17px;
	border-radius: 4px;
	border: 2px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-transition: border-color .2s, transform .9s cubic-bezier(0.570, -0.600, 0.030, 1.300), background .2s, text-indent .3s;
	-o-transition: border-color .2s, transform .9s cubic-bezier(0.570, -0.600, 0.030, 1.300), background .2s, text-indent .3s;
	transition: border-color .2s, transform .9s cubic-bezier(0.570, -0.600, 0.030, 1.300), background .2s, text-indent .3s;
}

.login-button
{
	color: #8fcbd7;
	margin-top: 0;
}

.button:hover
{
	border-color: #70b5c3;
}

.leave-admin-button
{
	color: white;
	background: #ab1717;
}

.leave-admin-button:hover
{
	color: #70b5c3;
	background: transparent;
	border-color: #ab1717;
}

.top-controls .remove-question-button:hover
{
	border-color: #dc2a2a;
	color: #dc2a2a;
}

.top-controls .cancle-question-changes-button:hover
{
	border-color: yellow;
	color: yellow;
}

input, textarea
{
	border: none;
	padding: 7px;
	border-radius: 4px;
	background: #2C313B;
	font-size: 1.3em;
	display: block;
	max-width: 100%;
	width: 100%;
	color: grey;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

input:focus,
textarea:focus
{
	outline: none;
	background: #414b5d;
	color: #B0B0B0;
}

input[type=checkbox]
{
	width: 30px;
	height: 30px;
	border-radius: 4px;
}

.splitter
{
	border-top: 2px dashed #59A9C2;
	margin: 10px 0;
}

.test-area-left,
.test-area-right
{
	margin-top: 10px;
}

.test-area-left textarea,
.test-area-right textarea
{
	margin-top: 10px;
	height: 200px;
	max-width: 100%;
}

.tab-content .test-area-left
{
	padding-right: 5px;
}

.tab-content .test-area-right
{
	padding-left: 5px;
}

.main-notify
{
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 1007;
	height: 80px;
	border-radius: 0 0 4px 4px;
	background: #27AE60;
	color: white;
	padding: 20px;
	top: -100px;

	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;

	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.main-notify > *
{
	display: block;
	float: left;
}

.main-notify img
{
	max-height: 100%;
	width: auto;
	heigth: auto;
	max-width: 100%;
}

.main-notify span
{
	padding: 0 60px;
	font-size: 1.7em;
	line-height: 40px;
}

/*SUCTOM WIDGETS*/

.down-list
{
	padding: 7px 40px;
	font-size: 1.2em;
	text-align: center;
}

.down-list option
{
	padding: 7px 40px;
	font-size: 1.2em;
	text-align: center;
}

.descr-for
{
	font-size: 1.3em;
	text-align: left;
	padding: 7px 0;
	color: #B0B0B0;
}

.to-right-input
{
	margin-left: 10px;
}

/*******************************/
/*********Style presets*********/
/*******************************/

/*******************************/
/*********Top controls*********/
/*******************************/

.top-controls
{
	padding: 10px;
	/* overflow: hidden; */
	text-align: right;
	-webkit-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	-o-transform: translateX(-50px);
	transform: translateX(-50px);

	opacity: 0;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.border-controls
{
	border-bottom: 2px dashed #59A9C2;
}

.top-button
{
	margin-top: 0;
	margin-right: 10px;
	position: relative;
}

.rm-button
{
}

.rm-button:hover
{
	border-color: #E6567A;
}

.content-container
{
	min-height: 100vh;
	padding: 10px 10px 100px 10px;
	perspective: 600px;
	margin-top: 10px;
	/*padding: 10px;*/
	/* border-top: 2px dashed #59A9C2; */
}

.non-controls
{
	border-top: none;
}

.non-padding
{
	padding: 0px;
}

.content-container > *
{
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	transform-origin: center;
}

/**********************************/
/*********Top controls end*********/
/**********************************/

/*******************************/
/**********Login styles*********/
/*******************************/

.login-container
{
	border-radius: 3px;
	width: 30%;
	margin: 100px auto;
	padding: 10px;
	background: #5757C8;
}

.login-container input
{
	margin-bottom: 10px;
	border-bottom: 2px solid transparent;
}

.login-container input:last-child
{
	margin-bottom: 0;
}

/*******************************/
/********Login styles end*******/
/*******************************/

/*******************************/
/*******Main outer styles*******/
/*******************************/

.core-row
{
	position: relative;
}

.left-bar
{
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100vh;
	background: #212227;
	z-index: 1;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;

	-webkit-transform: translateX(-160px);
	-ms-transform: translateX(-160px);
	-o-transform: translateX(-160px);
	transform: translateX(-160px);
}

.left-bar:hover
{
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.menu-icon
{
	height: 40px;
}

.icon-wrap
{
	position: fixed;
	z-index: 2;
	height: 40px;
	width: 40px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.icon-wrap .icon-row
{
	width: 32px;
	height: 5px;
	background: white;
	margin-top: 7px;
	margin-left: 4px;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.icon-wrap .icon-row:nth-child(1)
{
	margin-top: 6px;
	transform-origin: left bottom;
}

.icon-wrap .icon-row:nth-child(2)
{
	transform-origin: center center;
}

.icon-wrap .icon-row:nth-child(3)
{
	transform-origin: left top;
}

/*Hover actions*/

.left-bar:hover + .icon-wrap .icon-row:nth-child(1)
{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.left-bar:hover + .icon-wrap .icon-row:nth-child(2)
{
	opacity: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.left-bar:hover + .icon-wrap .icon-row:nth-child(3)
{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.left-bar .bar-item
{
	text-align: left;
	display: block;
	color: white;
	padding: 10px 0 10px 10px;
	font-size: 1.3em;
	border-left: 4px transparent solid;

	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 165px center;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.bar-icon-1{
	background-image: url(../img/home.png);
}
.bar-icon-2{
	background-image: url(../img/rew.png);
}
.bar-icon-3{
	background-image: url(../img/ans.png);
}

.bar-icon-4{
	background-image: url(../img/users.png);
}

.bar-icon-5{
	background-image: url(../img/link-token.png);
}

.bar-icon-6{
	background-image: url(../img/settings-icon.png);
}

.bar-icon-7{
	background-image: url(../img/admin-settings-icon.png);
}

.left-bar .bar-item:hover
{
	border-left-color: #70b5c3;
	background-color: #30394c;
}

.left-bar .bar-item-active
{
	border-left-color: #70b5c3;
	background-color: #2e3440;
}

/***********************************/
/*******Main outer styles end*******/
/***********************************/

/**********************************/
/*******Admin content styles*******/
/**********************************/

.admin-content
{
	padding-left: 40px;
	perspective: 600px;
	background: #25282F;
}

/**************************************/
/*******Admin content styles end*******/
/**************************************/

/******************************/
/*******Tests list style*******/
/******************************/

.list-header
{
	margin-top: 5px;
	opacity: 0;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	padding: 0px 5px;

	-webkit-transform: translateX(-40px);
	-ms-transform: translateX(-40px);
	-o-transform: translateX(-40px);
	transform: translateX(-40px);
}

.list-item
{
	max-height: 56px;
	opacity: 0;
	/*padding: 0 5px;*/
	margin: 0 5px;
	position: relative;
	overflow: hidden;

	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;

	-webkit-transform: translateY(50px);
	-ms-transform: translateY(50px);
	-o-transform: translateY(50px);
	transform: translateY(50px);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.loaded-list-item
{
	opacity: 1;

	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}

.header-col
{
	position: relative;
	padding: 10px 0;
	text-align: center;
	background: #2c354e;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	color: white;
	font-size: 1.1em;
}

.header-col:first-child
{
	border-top-left-radius: 5px;
}

.header-col:last-child
{
	border-top-right-radius: 5px;
	border-right: none;
}

.list-item .list-col
{
	padding: 15px 0px;
	text-align: center;
	border-right: 1px solid white;
	background: #2b2931;
	font-size: 1.3em;
	color: white;
	overflow-x: hidden;
	overflow: hidden;
	white-space: nowrap;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.list-item:nth-child(even) .list-col
{
	background: #444B54;
}

.list-item .list-col:last-child
{
	border-right: none;
}

.list-item:hover .list-col
{
	background: #1f2d4a;
	color: white;
}

/**********************************/
/*******Tests list style end*******/
/**********************************/

/*************************/
/*******Tabs widget*******/
/*************************/

.switch-question-button
{
	padding: 8px 5px 10px 5px;
	font-size: 1.3em;
	cursor: pointer;
	border-radius: 4px;
	background: #414858;
	color: #81899B;
	overflow: hidden;

	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.switch-question-button:first-child
{
	padding-right: 13px;
}

.switch-question-button:first-child .button-row
{
	margin-right: -5px;
}

.switch-question-button:last-child
{
	padding-left: 13px;
}

.switch-question-button:last-child .button-row
{
	margin-left: -5px;
}

.switch-question-button .button-row
{
	display: inline-block;
	font-size: 1.3em;
	opacity: 0;

	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.switch-question-button:hover .button-row
{
	margin: 0;
	padding: 0 5px;
	opacity: 1;
	color: white;
}

.switch-question-button:hover
{
	background: #56627E;
	color: #AFAFAF;
	padding: 8px 15px 10px 15px;
}

.tabs-header
{
	text-align: center;
	margin-bottom: 5px;
}

.head-tabs-wrap
{
	display: inline-block;
}

.head-tab
{
	float: left;
	display: inline-block;
	padding: 10px 25px;
	font-size: 1.3em;
	/*background: #47D2E9;*/
	cursor: pointer;
	border: 3px solid #70b5c3;
	color: white;

	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.head-tab:first-child
{
	border-radius: 4px 0 0 4px;
	border-right: none;
}

.head-tab:last-child
{
	border-radius: 0 4px 4px 0;
	border-left: none;
}

.active-tab
{
	background: #394b56;
}

.tab-content
{
	opacity: 0;
	-webkit-transform: translateY(25px);
	-ms-transform: translateY(25px);
	-o-transform: translateY(25px);
	transform: translateY(25px);

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.hidden-tab
{
	display: none;
}

.active-tab-content
{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}

/*****************************/
/*******Tabs widget end*******/
/*****************************/

/*****************************/
/*******Question scores*******/
/*****************************/

.score-items-wrap
{
	overflow: hidden;
}

.score-item,
.add-score-block
{
	padding: 5px;
	background: #323e58;
	border-radius: 5px;
	margin-top: 5px;
	box-sizing: border-box;
	overflow: hidden;
	max-height: 50px;
	position: relative;

	-webkit-transition: all 250ms;
	-o-transition: all 250ms;
	transition: all 250ms;
}

.score-item > div,
.add-score-block > div
{
	float: left;
	margin-right: 10px;
}

.score-item > div:last-child,
.add-score-block > div:last-child
{
	margin-right: 0px;
}

.score-item .remove-button,
.score-item .copy-button,
.score-item .up-score-button,
.score-item .down-score-button,
.score-item .details-button,
.add-score-block .add-button
{
	width: 39px;
	height: 39px;
	border-radius: 50%;
	background-image: url(../img/cross.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #8f1818;
	cursor: pointer;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.score-item .score-copy-block,
.add-score-block .score-copy-block
{
	position: absolute;
	background: #3f6da2;
	opacity: .5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	float: none;
	margin: 0;
	z-index: 1;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.score-item .score-copy-block:hover
{
	opacity: .350
}

.score-item .score-copy-block-new,
.add-score-block .score-copy-block-new
{
	background: #e83d3d;
}

.proto-spacer
{
	width:  39px;
	height: 39px;
}

.score-item .up-score-button,
.score-item .down-score-button
{
	background-color: #304984;
}

.score-item .details-button
{
	background: #49A2DC url(../img/details.png) center no-repeat;
	background-size: 22px;
}

.score-item .copy-button
{
	background: #4971DC url(../img/copy-icon.png) center no-repeat;
	background-size: 22px;
	position: relative;
}

/*More with copy button*/

.copy-score-block
{
	float: left;
	margin: 10px;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.copy-score-block .copy-score-hover-button
{
	background: #1F8FD7;
	border-radius: 4px;
	font-size: 1.3em;
	padding: 5px 10px;
	cursor: pointer;
	display: inline-block;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.copy-score-block .copy-score-hover-button:hover
{
	background: #34A1E7;
}

.copy-score-block .buttons-block
{
	float: right;
	margin-left: -10px;
	visibility: hidden;
	opacity: 0;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.copy-score-block .copy-score-hover-button:hover + .buttons-block
{
	margin-left: 0px;
	visibility: visible;
	opacity: 1;
}

.copy-score-block .buttons-block:hover
{
	margin-left: 0px;
	visibility: visible;
	opacity: 1;
}

.copy-score-block .buttons-block .copy-response-button
{
	background: #2b57a9;
	font-size: 1.3em;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 10px;
	float: left;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.copy-score-block .buttons-block .copy-response-button:hover
{
	-webkit-transform: scale(1.050);
	-ms-transform: scale(1.050);
	-o-transform: scale(1.050);
	transform: scale(1.050);
}

/*Part ends*/

.score-item .details-button:hover
{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	background: #1F8FD7 url(../img/edit-icon-white-back.png) center no-repeat;
	background-size: 25px;
}

.score-item .up-score-button		{background-image: url(../img/row-up.png);}
.score-item .down-score-button	{background-image: url(../img/row-down.png);}

.score-item .remove-button:hover,
.score-item .copy-button:hover,
.score-item .up-score-button:hover,
.score-item .down-score-button:hover,
.add-score-block .add-button:hover
{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.score-item .score-value
{
	width: 7%;
}

.score-item .score-text
{
	width: calc(93% - 206px);
}

/*Add score*/

.add-score-block .score-text
{
	width: calc(93% - 59px);
}

.add-score-block .score-value
{
	width: 7%;
}

.add-score-block .add-button
{
	background-image: url(../img/plus-white.png);
	background-color: #33B633;
}

.trs-none
{
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/*Score details part*/

.score-details-wrap
{
	position: fixed;
	height: 100vh;
	width: 100%;
	right: 0;
	top: 0;
	z-index: 1002;
}

.score-details-wrap .back-space-button
{
	width: 20%;
	height: 100vh;
	float: left;
	overflow: hidden;
	background: white;
	opacity: 0;
	cursor: pointer;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.score-details-wrap .back-space-button:hover
{
	opacity: 0.025;
}

.score-details-wrap .score-details
{
	background: #293142;
	width: 80%;
	overflow-y: auto;
	float: left;
	height: 100vh;
	opacity: 0;

	-webkit-transform: translateX(15%);
	-ms-transform: translateX(15%);
	-o-transform: translateX(15%);
	transform: translateX(15%);

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.score-details-wrap .score-details-visible
{
	opacity: 1;

	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.score-details-wrap .score-details-content
{
	padding: 10px;
}

/*Detail list item*/

.detail-list-item
{
	overflow: hidden;
	background: #323e58;
	padding: 10px;
	border-radius: 5px;
	height: 150px;
	margin-bottom: 10px;
	box-sizing: content-box;
}

.h0-state
{
	height: 0px !important;
	padding: 0 10px;
}

.detail-trs
{
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.detail-trs-fast,
.detail-trs-fast *
{
	-webkit-transition: all .250s;
	-o-transition: all .250s;
	transition: all .250s;
}

.detail-up
{
	-webkit-transform: translateY(calc(-100% - 10px));
	-ms-transform: translateY(calc(-100% - 10px));
	-o-transform: translateY(calc(-100% - 10px));
	transform: translateY(calc(-100% - 10px));
}

.detail-down
{
	-webkit-transform: translateY(calc(100% + 10px));
	-ms-transform: translateY(calc(100% + 10px));
	-o-transform: translateY(calc(100% + 10px));
	transform: translateY(calc(100% + 10px));
}

.detail-list-item .buttons-wrap
{
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

.detail-list-item .buttons-wrap .up-button
{
	background: #33B633 url(../img/row-up.png) center no-repeat;
	background-size: 30px;
	border-radius: 5px 5px 0 0;
}

.detail-list-item .buttons-wrap .down-button
{
	background: #33B633 url(../img/row-down.png) center no-repeat;
	background-size: 30px;
	border-radius: 0 0 5px 5px;
}

.detail-list-item .buttons-wrap .remove-button
{
	background: #ab1717 url(../img/cross.png) center no-repeat;
	background-size: 30px;
}

.detail-list-item .buttons-wrap .list-item-control
{
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: 1px solid transparent;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.detail-list-item .buttons-wrap .list-item-control:hover
{
	border-color: white;
}

.detail-list-item textarea
{
	border-radius: 5px;
	float: left;
	height: 150px;
	resize: none;
}

.detail-list-item .title-area
{
	margin-right: 10px;
	width: calc(50% - 70px);
}

.detail-list-item .desc-area
{
	width: 50%;
}

/*********************************/
/*******Test scoreerties end******/
/*********************************/

.section-head
{
	color: #B0B0B0;
	padding: 10px;
	text-align: center;
	font-size: 1.5em;
}

.inline-button
{
	line-height: 40px;
}

/*Score details loading*/

.score-details-loading-block .loading
{
	margin: 200px auto 0 auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 3px solid #59A9C2;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;

	animation-name: loading;
	animation-duration: .8s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@-webkit-keyframes details-loading {
	from {-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);}
}
@-o-keyframes details-loading {
	from {-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);}
}
@-moz-keyframes details-loading {
	from {-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);}
}
@keyframes details-loading {
	from {-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);}
}

/************************/
/*******Set ratings******/
/************************/

.no-video-rating
{
	padding: 100px 0;
	font-size: 1.5em;
}

.questions-bar, .score-bar
{
	padding-bottom: 10px;
}

.score-header
{
	display: block;
	text-align: center;
	font-size: 1.3em;
	color: white;
	padding: 10px 0;
}

.under-row
{
	width: 90%;
	border-bottom: 2px dashed #59A9C2;
	margin: 0 auto;
}

.score-content-tab
{
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.score-list-item
{
	padding: 5px 10px 0 10px;
	position: relative;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.score-list-item:hover
{
	background: #37476A;
}

.score-list-item .score-input
{
	/*display: inline-block;
	height: 20px;
	width: 20px;*/
	display: none;
}

.score-input + label
{
	margin-left: 25px;
	display: inline-block;
	font-size: 1.3em;
	padding: 5px;
	color: white;
	font-weight: normal;
	position: relative;
	cursor: pointer;
	width: calc(100% - 25px);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.score-input + label:before
{
	cursor: pointer;
	content: '';
	width: 20px;
	height: 20px;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	right: 100%;
	top: 7px;
	background-size: 68%;
	background-position: center;
	background-repeat: no-repeat;
}

.score-input:checked + label:before
{
	background-image: url(../img/check-dot.png);
}

.checkbox-mode + label:before
{
	border: 2px solid white;
	border-radius: 4px;
	background-size: 80%;
}

.checkbox-mode:checked + label:before
{
	background-image: url(../img/checkmark-white.png);
}

.score-value-tip
{
	position: absolute;
	font-size: 1.2em;
	left: -95px;
	top: 6px;
	background: #3BA33B;
	color: white;
	padding: 3px 5px;
	border-radius: 2px 3px 3px 2px;
	font-weight: 500;
	opacity: 0;
	visibility: hidden;
	margin-left: 10px;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.score-value-tip:after
{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 0px;
	left: calc(100% - 2px);
	border-style: solid;
	border-width: 15px 0 15px 18px;
	border-color: transparent transparent transparent #3BA33B;
}

.score-input + label:hover + .score-value-tip
{
	opacity: 1;
	visibility: visible;
	margin-left: 0px;
}


.prev-score-user
{
	margin-left: 10px;
}

/*Scoring part title*/

.rating-score-bar
{
	padding: 10px;
}

.rating-score-bar > *
{
	float: left;
	margin-right: 10px;
}

.select-test-title
{
	font-size: 1.3em;
	color: white;
	padding: 5px 0px;
}

.test-selector
{
	position: relative;
	font-size: 1.3em;
	padding: 5px 60px;
	color: white;
	background: #414858;
	border-radius: 4px;
	cursor: pointer;
}

.test-selector .tests-list
{
	position: absolute;
	top: 100%;
	margin-top: 0px;
	opacity: 0;
	visibility: hidden;
	border-radius: 4px;
	z-index: 1;
	left: 50%;
	width: 100%;
	text-align: center;
	background: #414858;
	border: 1px solid #55658b;

	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);

	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.test-selector .tests-list .item
{
	padding: 5px 0px;
	color: white;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.test-selector .tests-list .item:hover
{
	background: #55658b;
}

.test-selector:hover .tests-list
{
	margin-top: 10px;
	visibility: visible;
	opacity: 1;
}

.current-user-bar
{
	color: white;
	border-left: 2px solid white;
	padding: 5px 0 5px 10px;
	font-size: 1.3em;
}

.current-user-bar > *
{
	float: left;
	text-indent: 45px;
	background-size: 25px;
	background-position: 10px center;
	background-repeat: no-repeat;
}

.current-user-bar .user-name
{
	background-image: url(../img/user.png);
}

.current-user-bar .user-email
{
	background-image: url(../img/mail.png);
}

/*Scoring part title end*/

.scored-question-mark
{
	float: left;
	padding-right: 5px;
	max-height: 20px;
	width: auto;
}

.current-scoring-question
{
	border-left: 4px solid #70b5c3;
	background: #2f3c59;
}

.test-question
{
	font-size: 1.3em;
	padding: 10px 5px 10px 10px;
	color: white;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.test-question:hover
{
	background: #37476A;
}

.questions-bar,
.rating-score-bar,
.center-answer,
.score-bar
{
	border-radius: 4px;
	background: #293142;
	margin: 5px;
}

/*Answer switcher*/

.question-switch-block
{
	padding: 5px 10px 0 10px;
}

.scoring-tabs .tab-button
{
	width: 33.33%;
	padding: 9px 0px;
	text-align: center;
	font-size: 1.1em;
}

.scoring-tabs .inner-tab-content
{
	padding: 5px 0;
}

.slide-player
{
	text-align: center;
}

.slide-player ziggeoplayer
{
	display: inline-block;
}

/****************************/
/*******Set ratings end******/
/****************************/

/*******************/
/*******Stats ******/
/*******************/

.stats-wrapper
{
	background: #293142;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
}

.stats-wrapper .stats-header
{
	color: #B0B0B0;
	font-size: 1.3em;
	text-align: center;
	padding-bottom: 10px;
}

/**********************/
/*******Stats end******/
/**********************/

/************************/
/*******Report part******/
/************************/

.create-report,
.create-link-token
{
	background: #293142;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}

.tip-block
{
	margin: 5px;
	background: #324468;
	border-left: 4px solid #7a5492;
	padding: 10px;
	color: white;
	font-size: 1.1em;
}

.report-select-block
{
	position: relative;
	margin: 5px;
	display: table;
	vertical-align: middle;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.page-rule-content .disabled,
.report-select-block .disabled
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 1;
}

.report-select-block .select-desc
{
	color: white;
	font-size: 1.3em;
	padding: 5px 0;
	display: table-cell;
	vertical-align: middle;
}

.report-select-block .select-desc + .downwrapper
{
	margin-left: 20px;
}

/*Dowload button part*/

.report-download
{
	width: 500px;
	margin: 20px auto;
	background: #324468;
	border-radius: 6px;
	padding: 20px;
	color: white;
	overflow: hidden;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.report-download .title
{
	height: 50px;
	line-height: 50px;
	font-size: 1.3em;
	text-align: center;
}

.report-download .icon-row
{
	width: 100%;
	border-bottom: 2px dashed #59A9C2;
	margin: 25px 0;
	position: relative;
}

.report-download .icon
{
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: #324468;
	border-radius: 50%;
	border: 2px solid #59A9C2;
	left: 50%;
	top: -24px;

	background-image: url(../img/download.png);
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;

	-webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

	transform-origin: center;
	-webkit-transform: translateX(-50%) scale(0) rotate(-180deg);
	-ms-transform: translateX(-50%) scale(0) rotate(-180deg);
	-o-transform: translateX(-50%) scale(0) rotate(-180deg);
	transform: translateX(-50%) scale(0) rotate(-180deg);
}

.report-download .r-button-wrap
{
	text-align: center;
}

.report-download .button
{
	display: inline-block;
	padding: 10px 20px;
	background: #45DF99;
	color: #25282F;
	text-indent: 40px;
	border: 2px solid #45DF99;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	background-image: url(../img/button-download-dark.png);
	background-position: 20px center;
	background-repeat: no-repeat;
	background-size: 25px 25px;
}

.report-download .button:hover
{
	background-color: transparent;
	background-image: url(../img/button-download-white.png);
	color: white;
}

/****************************/
/*******Report part end******/
/****************************/

/*******************/
/*******Inputs******/
/*******************/

.repotr-optioin-wrapper
{
	padding-left: 20px;
}

.downwrapper
{
	display: inline-block;
	position: relative;

	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin: 5px;
}

.dropdown
{
	display: table;
	position: relative;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;

}

.dropdown:hover
{
	border-color: white;
}

.dropdown:hover .text,
.dropdown:hover .c-caret
{
	background: #293142;
}

.text,
.c-caret
{
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.text
{
	font-size: 1.2em;
	padding: 5px 10px;
	text-align: center;
	min-width: 100px;
	overflow: hidden;
	float: left;
	border-radius: 4px 0 0 4px;
	color: white;
	background: #4245ab;
}

.c-caret
{
	display: table-cell;
	background: #4245ab;
	border-left: 1px solid #293142;
	vertical-align: middle;
	width: 40px;
	text-align: center;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	overflow: hidden;
}

.c-caret img
{
	display: inline-block;
	vertical-align: middle;
	max-width: 40%;
	height: auto;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.dropdown:hover .c-caret img
{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dropdown .items
{
	position: absolute;
	top: calc(100% + 15px);
	left: 50%;
	background: #4245ab;
	width: 250px;
	border-radius: 4px;
	opacity: 0;
	visibility: hidden;
	transform-origin: center -10px;
	margin-top: -10px;
	z-index: 10;
	border-radius: 5px;

	-webkit-transition: all .2s cubic-bezier(.8,.11,.06,1);
	-o-transition: all .2s cubic-bezier(.8,.11,.06,1);
	transition: all .2s cubic-bezier(.8,.11,.06,1);
	
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.dropdown:hover .items
{
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}

.dropdown .items:before
{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 100%;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8.5px 10px 8.5px;
	border-color: transparent transparent #4245ab transparent;

	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.dropdown .items .item:first-child
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.dropdown .items .item:last-child
{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dropdown .item
{
	padding: 5px 10px;
	overflow: hidden;
	text-align: left;
	color: white;
	font-size: 1.2em;
	border-bottom: 1px solid grey;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.dropdown .item:last-child
{
	border-bottom: none;
}

.dropdown .item:hover
{
	background: #293142;
}

.add-option-button
{
	display: inline-block;
	margin: 5px;
	height: 33px;
	width: 33px;
	border-radius: 50%;
	background-color: #33B633;
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: center;

	-webkit-transition: all .2s cubic-bezier(.8,.11,.06,1);
	-o-transition: all .2s cubic-bezier(.8,.11,.06,1);
	transition: all .2s cubic-bezier(.8,.11,.06,1);
}

.add-option-button:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.hidden-select
{
	width: 0px;
	overflow: hidden;
	visibility: hidden;
}

.downwrapper .remove-button
{
	bottom: 50%;
	left: 50%;
	z-index: 0;
	background-color: #AE1515;
	background-image: url(../img/cross-dark.png);
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	cursor: pointer;

	-webkit-transform: translateX(-50%) translateY(0) scale(0);
	-ms-transform: translateX(-50%) translateY(0) scale(0);
	-o-transform: translateX(-50%) translateY(0) scale(0);
	transform: translateX(-50%) translateY(0) scale(0);
	transform-origin: center;

	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.downwrapper:hover .remove-button
{
	visibility: visible;
	opacity: 1;

	-webkit-transform: translateX(-50%) translateY(calc(-100% + 10px)) scale(1);
	-ms-transform: translateX(-50%) translateY(calc(-100% + 10px)) scale(1);
	-o-transform: translateX(-50%) translateY(calc(-100% + 10px)) scale(1);
	transform: translateX(-50%) translateY(calc(-100% + 10px)) scale(1);
}

/***********************/
/*******Inputs end******/
/***********************/

/*********************/
/*******Ordering******/
/*********************/

.order-button
{
	color: white;
	border-color: #70b5c3;
	background-color: #70b5c3;
	background-image: url(../img/order-icon.png);
	background-size: 25px;
	background-position: -25px center;
	background-repeat: no-repeat;
	text-indent: 0px;
}

.order-button:hover
{
	background-color: transparent;
	color: #70b5c3;
}

.order-button-active
{
	background-color: #70b5c3;
	background-position: 17px center;
	text-indent: 42px;
}

.order-block
{
	visibility: hidden;
	position: absolute;
	overflow: hidden;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0;
	z-index: 1;
	background: #25282F;
	opacity: 0;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.order-block:hover
{
	opacity: .4;
}

.order-block > div
{
	float: right;
	width: 55px;
	height: 100%;
	background-color: transparent;
	background-position: center;
	background-size: 55%;
	background-repeat: no-repeat;
	margin-left: 3px;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;

	-webkit-transform: translateX(200%);
	-ms-transform: translateX(200%);
	-o-transform: translateX(200%);
	transform: translateX(200%);
}

.order-block-active
{
	visibility: visible;
	opacity: .5;
}

.order-block-active > div
{
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.order-block > div:hover
{
	background-color: #253761;
}

.order-block .to-top {background-image: url(../img/row-up.png);}
.order-block .to-bottom {background-image: url(../img/row-down.png);}

.color-transition
{
	-webkit-transition: background .4s;
	-o-transition: background .4s;
	transition: background .4s;
}

/******************************/
/*******Inner tabs widget******/
/******************************/

.tabs-button-container
{
	position: relative;
}

.tabs-button-container .score-mode-check-block
{
	float: left;
	padding: 5px 17px;
}

.tabs-button-container .tab-button-back
{
	width: 0px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	background: #4bb4f5;
	opacity: 0.4;
	position: absolute;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.tabs-button-container .tab-button
{
	float: left;
	padding: 6px 17px;
	font-size: 1.3em;
	cursor: pointer;
	color: white;
	background: #293142;
	border-bottom: 3px solid transparent;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.tabs-button-container .tab-button:hover
{
	border-bottom-color: #70b5c3;
}

.inner-content-tabs
{
	overflow: hidden;
}

.inner-tab-content
{
	background: #293142;
	border-radius: 0px 0px 5px 5px;
	padding: 5px;
	color: white;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.inner-hidden-tab
{
	visibility: hidden;
	opacity: 0;

	-webkit-transform: translate(50px);
	-ms-transform: translate(50px);
	-o-transform: translate(50px);
	transform: translate(50px);
}

.inner-nodisplay
{
	display: none;
}

/*******************************/
/*******Question recorders******/
/*******************************/

.upload-part .video-hidden-input
{
	display: none;
}

.table-block
{
	display: table;
	width: 100%;
}

.qus-cell
{
	display: table-cell;
	margin-right: 5px;
	vertical-align: middle;
	text-align: center;
	width: 25%;
}

.inner-cell
{
	display: inline-block;
	vertical-align: middle;
}

.full-cell
{
	width: 100%;
	text-align: center;
}

.zig-ready-cell
{
	width: 350px;
}

.upload-video
{
	display: inline-block;
	background: #324468;
	width: 60%;
	padding: 20px;
	border-radius: 6px;
	perspective: 700px;
}

.upload-video .video-row
{
	border-bottom: 2px dashed #59A9C2;
	margin: 25px 0px;
	width: 100%;
	position: relative;
}

.upload-video .border-circle
{
	position: absolute;
	width: 59px;
	height: 59px;
	border-radius: 50%;
	background: #324468;
	border: 4px solid #324468;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.upload-video .image-circle
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #324468;
	border: 2px solid #59A9C2;
	background-image: url(../img/upload.png);
	background-size: 35px;
	background-position: center;
	background-repeat: no-repeat;
}

.upload-video .upload-title
{
	height: 50px;
	line-height: 50px;
	font-size: 1.3em;
	text-align: center;
}

.upload-video .upload-part
{
	margin-top: 35px;
	text-align: center;
}

.upload-video .upload-button
{
	cursor: pointer;
	font-size: 1.3em;
	display: inline-block;
	padding: 10px 20px;
	background-color: #45DF99;
	border: 2px solid #45DF99;
	text-indent: 40px;
	color: #25282F;
	border-radius: 4px;
	font-weight: normal;

	background-image: url(../img/button-upload-dark.png);
	background-size: 25px;
	background-position: 20px center;
	background-repeat: no-repeat;

	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.upload-video .upload-button:hover
{
	background-color: transparent;
	background-image: url(../img/button-upload-white.png);
	color: white;
}

.upload-part .file-title
{
	font-size: 1.2em;
	margin-top: 0px;
	background: #293142;
	border-radius: 4px;
	padding: 4px 0;
	visibility: hidden;
	opacity: 0;
	transform-origin: top center;
	overflow-x: hidden;
	text-align: center;

	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;

	-webkit-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}

.upload-part .file-title-visible
{
	margin-top: 10px;
	opacity: 1;
	visibility: visible;
	
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

/************************/
/*******Search fail******/
/************************/

.search-fail-wrap
{
	margin-top: 170px;
	text-align: center;
	display: none;
}

.search-fail-visible
{
	display: block;
}

.search-fail-block
{
	display: inline-block;
	text-align: center;
}

.search-fail-block .message
{
	display: inline-block;
	font-size: 2em;
	font-weight: 700;
	color: #5D6C8D;
	margin-right: 10px;
}

.search-fail-block .icon
{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-bottom: -8px;
	background: url(../img/search-fail.png);
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
}

/*************************/
/*******List sorting******/
/*************************/

.search-caret
{
	width: 32px;
	height: 32px;
	position: absolute;
	right: 5px;
	top: 5px;
	background: url(../img/caret.png);
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.search-caret[state=none]
{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.search-caret[state=up]
{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.search-caret[state=down]
{
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.search-block
{
	background: #323e58;
	margin: 5px;
	border-radius: 5px;
}

.search-block .search-input-wrap
{
	padding: 10px;
}

/*************************/
/*******Account page******/
/*************************/

.profile-header
{
	padding: 10px 30px;
	background: #404552;
}

.profile-header .name,
.profile-header .title
{
	float: left;
	font-size: 1.7em;
	margin-right: 10px;
	color: #bbbbbb;
}

.profile-header .title
{
	font-weight: 300;
}

.profile-info
{
	background: #3A4B79;
}

.profile-info .img-wrap
{
	text-align: center;
	vertical-align: middle;
}

.profile-info .user-icon
{
	margin-top: 20px;
	vertical-align: middle;
	display: inline-block;
	max-width: 50%;
	width: 50%;
	height: auto;
	border-radius: 50%;
	border: 6px solid rgba(255,255,255,0.5);

	-webkit-transition: all .5s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	-o-transition: all .5s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	transition: all .5s cubic-bezier(0.570, -0.600, 0.030, 1.300);
}

.profile-info .user-icon:hover
{
	border-color: rgba(255,255,255,1);
	-webkit-transform: scale(1.120);
	-ms-transform: scale(1.120);
	-o-transform: scale(1.120);
	transform: scale(1.120);
}

.profile-info .user-name-container
{
	position: relative;
	padding: 10px 0;
	backgorund: transparent;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.profile-info .user-name-container .edit-button
{
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	right: calc(100% + 5px);
	top: 10px;
	border: 2px solid rgba(255,255,255,0.5);
	background-color: #404552;
	background-image: url(../img/edit-icon.png);
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	-webkit-transition: all .4s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	-o-transition: all .4s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	transition: all .4s cubic-bezier(0.570, -0.600, 0.030, 1.300);
}

.profile-info .user-name-container .edit-button:hover
{
	background-color: #69728B;
}

.profile-info .user-name-container .save-edited
{
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	right: calc(100% + 5px);
	top: 10px;
	border: 2px solid rgba(255,255,255,0.5);
	background-color: #404552;
	background-image: url(../img/save-icon.png);
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	visibility: hidden;

	-webkit-transition: all .4s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	-o-transition: all .4s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	transition: all .4s cubic-bezier(0.570, -0.600, 0.030, 1.300);

	-webkit-transform: scale(0) rotate(-180deg);
	-ms-transform: scale(0) rotate(-180deg);
	-o-transform: scale(0) rotate(-180deg);
	transform: scale(0) rotate(-180deg);
}

.profile-info .user-name-container .save-edited:hover
{
	background-color: #69728B;
}

.profile-info .edit-block:not(:last-child)
{
	margin-bottom: 5px;
}

.profile-info .user-name-container .title
{
	border: none;
	padding: 7px;
	border-radius: 4px;
	font-size: 1.3em;
	max-width: 100%;
	width: 100%;
	color: #cccccc;
	cursor: default;

	-webkit-transition: all .5s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	-o-transition: all .5s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	transition: all .5s cubic-bezier(0.570, -0.600, 0.030, 1.300);
}

.profile-info .user-name-container .input
{
	display: none;
	opacity: 0;
	visibility: hidden;

	-webkit-filter: blur(5px);
	filter: blur(5px);

	-webkit-transform: scale(.9) translateX(-20px);
	-ms-transform: scale(.9) translateX(-20px);
	-o-transform: scale(.9) translateX(-20px);
	transform: scale(.9) translateX(-20px);

	-webkit-transition: transform .5s cubic-bezier(0.570, -0.600, 0.030, 1.300),
	filter .5s cubic-bezier(0.570, -0.600, 0.030, 1.300),
	opacity .5s cubic-bezier(0.570, -0.600, 0.030, 1.300)
	visibility .5s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	-o-transition: transform .5s cubic-bezier(0.570, -0.600, 0.030, 1.300),
	filter .5s cubic-bezier(0.570, -0.600, 0.030, 1.300),
	opacity .5s cubic-bezier(0.570, -0.600, 0.030, 1.300)
	visibility .5s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	transition: transform .5s cubic-bezier(0.570, -0.600, 0.030, 1.300),
	filter .5s cubic-bezier(0.570, -0.600, 0.030, 1.300),
	opacity .5s cubic-bezier(0.570, -0.600, 0.030, 1.300)
	visibility .5s cubic-bezier(0.570, -0.600, 0.030, 1.300);
}

.stat-box
{
	padding: 5px;
	text-align: center;
	cursor: default;
}

.stat-box img
{
	margin-top: 5px;
	display: inline-block;
	width: auto;
	min-height: 55px;
	max-height: 55px;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.stat-box .stat-splitter
{
	width: 75%;
	border-top: 2px dashed #9CA5BC;
	margin: 10px auto;
}

.stat-box .title
{
	margin-top: 7px;
	font-size: 1.1em;
	color: #9CA5BC;
	font-weight: 400;
}

.stat-box .value
{
	font-size: 1.4em;
	color: #B9C4E0;
	margin-bottom: 4px;
	font-weight: 600;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.stat-box:hover img
{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.stat-box:hover .value
{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.current-sim-select
{
	padding-left: 20px;
}

.current-user-question-choose-proto,
.token-question-choose-proto,
.token-list-item-proto,
.test-list-item-proto
{
	display: none;
}

/*************************/
/*******Tokens list*******/
/*************************/

.overflow-hidden
{
	overflow: hidden;
}

.token-list-item
{
	padding: 5px;
	background: #324468;
	margin-bottom: 5px;
	border-radius: 3px;
	max-height: 50px;

	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.token-list-item .downwrapper
{
	margin: 0 10px 0 0;
}

.token-list-item > div
{
	float: left;
	margin-right: 10px;
}

.token-list-item .remove-token-button
{
	cursor: pointer;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.token-list-item .remove-token-button
{
	background-color: #8f1818;
	background-image: url(../img/cross.png);
	margin-right: 0;
}

.token-list-item .copy-token-button:hover,
.token-list-item .remove-token-button:hover
{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.token-list-item .token-value
{
	padding: 7px 10px;
	font-size: 1.2em;
	background: #2C313B;
	color: grey;
	border-radius: 3px;
}

.add-link-token-button
{
	height: 40px;
	width: 40px;
	background: #33B633 url(../img/plus-white.png) center no-repeat;
	background-size: 25px;
	border-radius: 50%;

	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.add-link-token-button:hover
{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.proto-token-list-item-style
{
	max-height: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/***********************/
/*******Copy test*******/
/***********************/

.new-test-name
{
	width: 300px;
	display: inline-block;
	margin-right: 30px;
}

.new-test-name input
{
	background: #464c58;
}

.disabled-top-button
{
	-webkit-transform: translateY(-130%);
	-ms-transform: translateY(-130%);
	-o-transform: translateY(-130%);
	transform: translateY(-130%);
}

.copy-test-button-active
{
	background: #70b5c3;
	border-color: #70b5c3;
	color: white;
}

.copy-block
{
	position: absolute;
	visibility: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #25282F;
	opacity: 0;
	margin: 0;
	z-index: 1;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.copy-block:hover
{
	opacity: 0;
}

.copy-block-visible
{
	visibility: visible;
	opacity: .7
}

/**************************/
/*******Invite block*******/
/**************************/

.list-item .invite-button
{
	position: absolute;
	z-index: 1;
	padding: 0 10px;
	font-size: 1.3em;
	line-height: 43px;
	background: blue;
	border-radius: 3px;
	height: calc(100% - 12px);
	margin: 6px 0 6px 10px;
	cursor: pointer;
	text-indent: 25px;
	background: #3b3ba4 url(../img/link-token.png) 10px center no-repeat;
	background-size: 20px;

	-webkit-transition: all .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	-o-transition: all .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	transition: all .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);

	-webkit-transform: translateX(-117%);
	-ms-transform: translateX(-117%);
	-o-transform: translateX(-117%);
	transform: translateX(-117%);
}

.list-item:hover .invite-button
{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

/***********************************/
/*******Assign test for users*******/
/***********************************/

.test-users-chooser-block
{
	display: none;
	background: #323e58;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	margin-top: 5px;

	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}


.assign-user-test-save-button
{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

.user-test-assign-invisible
{
	-webkit-transform: translateY(-120%);
	-ms-transform: translateY(-120%);
	-o-transform: translateY(-120%);
	transform: translateY(-120%);
}

.user-test-assign-active
{
	color: white;
	border-color: #70b5c3;
	background-color: #70b5c3;
}

/*Assign checkbox part*/

.assign-check-wrap
{
	position: absolute;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #25282F;
	opacity: .5;
	z-index: 2;
	cursor: pointer;
}

.assign-checkbox-block
{
	position: absolute;
	left: 10px;
	top: 50%;
	width: 24px;
	height: 24px;
	z-index: 1;
	margin-left: -35px;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

	-webkit-transition: all .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	-o-transition: all .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	transition: all .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);
}

.assign-checkbox-block-visible
{
	margin-left: 0;
}

.assign-checkbox-block input
{
	display: none;
}

.assign-checkbox-block input + label
{
	margin: 0;
	width: 24px;
	height: 24px;
	border: 2px solid white;
	border-radius: 3px;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.assign-checkbox-block input:checked + label
{
	border-color: #59A9C2;
}

.assign-checkbox-block input + label:after
{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 24px;
	height: 24px;
	display: block;
	background: url(../img/checkmark-white.png) center no-repeat;
	background-size: 18px;
	transform-origin: center bottom;

	-webkit-transition: all  .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	-o-transition: all  .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	transition: all  .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);

	-webkit-transform: translate(-50%, -50%) scale(0);
	-ms-transform: translate(-50%, -50%) scale(0);
	-o-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
}

.assign-checkbox-block input:checked + label:after
{
	-webkit-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	-o-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}

.trs-none
{
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

/**********************/
/*******Link col*******/
/**********************/

.tip-col .link-col
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2e7d87;
	color: white;
	padding: 15px 0;
	font-size: 1em;
	opacity: 0;

	-webkit-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

.tip-col:hover .link-col
{
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/*******************************/
/*******Additional search*******/
/*******************************/

.additional-search
{
	margin: 5px;
}

.additional-search .addt-header
{
	background: #323e58;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	border-bottom: 2px dashed #323e58;

	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.additional-search .addt-header > *
{
	float: left;
}

.additional-search .addt-header img
{
	height: 20px;
	width: auto;
	margin-right: 10px;

	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.additional-search .menu-active
{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.additional-search .header-active
{
	border-color: #59A9C2;
}

.additional-search .addt-header span
{
	font-size: 1.3em;
	color: white;
	font-weight: 300;
}

/*Additional block*/

.additional-search .addt-block
{
	display: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #323e58;
	padding: 10px;
}

/**************************/
/*******Tested badge*******/
/**************************/

.tested-badge
{
	position: absolute;
	top: 50%;
	width: 27px;
	height: 27px;
	left: 54px;
	z-index: 1;
	background: #26b42c url(../img/checkmark-white.png) center no-repeat;
	background-size: 18px;
	border-radius: 50%;
	margin-left: -81px;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

	-webkit-transition: all .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	-o-transition: all .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);
	transition: all .3s cubic-bezier(0.570, -0.600, 0.030, 1.300);
}

.tested-badge-visible
{
	margin-left: 0px;
}

/******************************/
/*******Tested badge end*******/
/******************************/

/********************/
/*******Modals*******/
/********************/


/*Deactivate styles*/
.blur-blocker
{
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.blur-blocker-active
{
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0.7;
	background: #BDBDBD;

	-webkit-filter: blur(4px);
	filter: blur(4px);
}

.page-blocker-active
{
	position: fixed;
	z-index: 1001;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: blue;
}

/*Real modal style*/

.modal-block
{
	visibility: hidden;
	padding: 20px;
	z-index: 1003;
	position: fixed;
	width: 50%;
	border-radius: 5px;
	background: #4a5080;
	top: 100px;
	left: 50%;
	opacity: 0;

	-webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

	-webkit-transform: translateX(-50%) scale(0.9);
	-ms-transform: translateX(-50%) scale(0.9);
	-o-transform: translateX(-50%) scale(0.9);
	transform: translateX(-50%) scale(0.9);
}

.modal-block-active
{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(-50%) scale(1);
	-ms-transform: translateX(-50%) scale(1);
	-o-transform: translateX(-50%) scale(1);
	transform: translateX(-50%) scale(1);
}

.modal-block .title
{
	font-size: 2em;
}

.modal-block .mistake-title
{
	color: #f31b1b;
}

.modal-block .content
{
	font-size: 1.2em;
}

.create-user-popup .buttons-block,
.modal-block .buttons-block
{
	margin-top: 50px;
}

.create-user-popup .buttons-block .button,
.modal-block .buttons-block .button
{
	color: white;
	margin-right: 10px;
}

.create-user-popup .buttons-block .success,
.modal-block .buttons-block .success
{
	background: #26A65B;
}

.create-user-popup .buttons-block .reject,
.modal-block .buttons-block .reject
{
	background: #ab1717;
}

.create-user-popup .buttons-block .success:hover,
.modal-block .buttons-block .success:hover
{
	color: white;
	background: transparent;
	border-color: #26A65B;
}

.create-user-popup .buttons-block .reject:hover,
.modal-block .buttons-block .reject:hover
{
	color: white;
	background: transparent;
	border-color: #ab1717;
}

/************************/
/*******Modals end*******/
/************************/

/*****************************/
/*******Change password*******/
/*****************************/

.change-password-block .change-password-input
{
	background: #3c4d71;
	margin-top: 10px;
}

.change-password-block .change-password-input:focus
{
	background: #414b5d;
}

.change-password-block .button-wrap
{
	text-align: center;
}

.change-password-block .change-password-submit
{
	background: #26A65B;
	color: white;
}

.change-password-block .change-password-submit:hover
{
	background: transparent;
	border-color: #26A65B;
}

/*Details list header*/

.score-details-content .list-headers
{
	padding: 10px;
}

.score-details-content .list-headers .head-title
{
	float: right;
	text-align: center;
	font-size: 1.5em;
	color: #B0B0B0;
	width: 50%;
}

.score-details-content .list-headers .head-title:last-child
{
	width: calc(50% - 70px);
	margin-right: 10px;
}

.score-details-content .detail-list-item-minimized
{
	height: 75px;
}

.score-details-content .detail-list-item-minimized .list-item-control
{
	width: 25px;
	height: 25px;
	background-size: 15px;
}

.score-details-content .detail-list-item-minimized textarea
{
	height: 75px;
}

.score-details-content .detail-list-item-minimized .title-area
{
	width: calc(50% - 55px);
}

/*********************************/
/*******Change password end*******/
/*********************************/

/*Custom rerecord styles*/

.inrow-record-mode
{
	float: left;
}

.inrow-record-mode .select-desc
{
	color: #B0B0B0;
}

.time-limit-select
{
	float: left;
	margin: 10px;
}

.time-limit-select > *
{
	float: left;
	margin-right: 10px;
	width: 100px;
}

/************************/
/*******Copy score*******/
/************************/

.stop-copy-score-button
{
	float: left;
	margin: 8px;
	background: transparent;
	border: 2px solid #1F8FD7;
	border-radius: 4px;
	font-size: 1.3em;
	padding: 5px 6px;
	cursor: pointer;
	display: inline-block;
	visibility: hidden;
	opacity: 0;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;

	-webkit-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	-o-transform: translateX(-50px);
	transform: translateX(-50px);
}

.stop-copy-score-button-active
{
	visibility: visible;
	opacity: 1;

	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.copy-score-block-hidden
{
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(50px);
	-ms-transform: translateX(50px);
	-o-transform: translateX(50px);
	transform: translateX(50px);
}

/************************/
/*******Rules page*******/
/************************/

.create-user-rule-buttons
{
	text-align: left;
}

.red-input
{
	border-bottom: 2px solid red;
}

/*User create input errors*/

.input-error
{
	display: none;
	text-align: center;
	font-size: 1.2em;
	padding: 4px 5px;
}

/*Rules list style*/

.select-rule-dropdown .disabled
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.page-rule-block
{
	background: #316188;
	border-radius: 8px;
	margin-top: 10px;
	border: 3px solid #2d4e93;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.page-rule-block .page-title
{
	font-size: 1.3em;
	margin: 18px 5px 18px 10px;
	border-left: 2px solid white;
	border-right: 2px solid white;
	padding: 0 10px;
	min-width: 210px;
	text-align: center;
}

.page-rule-block-disabled
{
	background: #264b69;
}

/*Rules caret*/

.page-rule-block .rule-caret
{
	width: 25px;
	height: 25px;
	margin: 18px 0 18px 10px;
	background: url(../img/caret-left.png) center no-repeat;
	background-size: 9px;
	cursor: pointer;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.page-rule-block .rule-caret-active
{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/*Rule item content*/

.page-rule-block .page-rule-content
{
	position: relative;
	display: none;
	border-top: 2px dashed transparent;
	padding: 10px;

	-webkit-transition: border .3s, -webkit-filter .3s;
	-o-transition: border .3s, -o-filter .3s;
	transition: border .3s, filter .3s;
}

.page-rule-block .page-rule-content-active
{
	border-top-color: #59A9C2;
}

/*****************************/
/*******Account confirm*******/
/*****************************/

.confirm-block
{
	margin-top: 200px;
}

.confirm-block .title
{
	text-align: center;
	font-size: 2.2em;
	color: white;
	margin-bottom: 20px;
}

.confirm-block .tologin-block
{
	text-align: center;
}

.confirm-block .tologin-block .button
{
	font-size: 1.6em;
	padding: 16px 25px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.confirm-block .tologin-block .button:hover
{
	-webkit-box-shadow: 0px 0px 30px 4px rgba(112,181,195,0.5);
	-moz-box-shadow: 0px 0px 30px 4px rgba(112,181,195,0.5);
	box-shadow: 0px 0px 30px 4px rgba(112,181,195,0.5);
}

.blur-wrapper
{
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

/*************************/
/*******Admins list*******/
/*************************/

.users-action-block
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: .5;
	z-index: 3;
	background: #25282F;
	cursor: pointer;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.user-actions-switch-wrap
{
	text-align: right;
}

.user-actions-switch-wrap .switch-block
{
	display: inline-block;
	border-radius: 4px;
	overflow: hidden;
	border: 3px solid #59A9C2;
}

.user-actions-switch-wrap .switch
{
	float: left;
	font-size: 1.3em;
	background: rgba(61, 146, 190, 0.7);
	color: white;
	padding: 12px;
	cursor: pointer;
}

.user-actions-switch-wrap .switch-active
{
	background: rgba(61, 146, 190, 1)
}

.admin-buttons .button
{
	display: block;
	float: left;
	text-align: center;
	width: calc(50% - 5px);
}

.admin-buttons .button:nth-child(even)
{
	margin-left: 10px;
}

/*Create test preset items*/

.score-preset
{
	background: #323e58;
	padding: 5px;
	border-radius: 5px;
}

.score-preset:not(:last-child)
{
	margin-bottom: 10px;
}

.score-preset .score-preset-input
{
	width: calc(100% - 49px);
	margin-right: 10px;
	float: left;
}

.score-preset .remove-preset-button
{
	float: left;
	width: 39px;
	height: 39px;
	border-radius: 50%;
	background-image: url(../img/cross.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #8f1818;
	cursor: pointer;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}