.calendar-widget
{
	margin: 9px;
	font-size: 14px !important;

	input
	{
		float: left;
		width: 70px;
		height: 39px;
		text-align: center;
	}

	.day
	{
		border-radius: 4px 0 0 4px;
	}

	.year
	{
		border-radius: 0 4px 4px 0;
	}

	.months
	{
		float: left;
		position: relative;

		.text
		{
			cursor: pointer;
			width: 150px;
			float: left;
			font-size: 1.2em;
			padding: 8px 10px;
			text-align: center;
			border-radius: 0;
		}

		.drop-caret
		{
			cursor: pointer;
			float: left;
			width: 39px;
			height: 39px;
			line-height: 39px;
			text-align: center;
			background: #4245AB;
			border-left: 1px solid #808080;
		}
	}

	.months:hover .options
	{
		margin-top: 0px;
		opacity: 1;
		visibility: visible;
	}

	.options
	{
		position: absolute;

		top: 100%;
		margin-top: 10px;
		width: 100%;
		left: 50%;
		z-index: 1;
		border-top: 15px solid transparent;

		opacity: 0;
		visibility: hidden;
		margin-top: -10px;

		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);

		-webkit-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;

		&:before
		{
			content: '';
			position: absolute;
			left: 50%;
			bottom: 100%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 13px 13px 13px;
			border-color: transparent transparent #4245AB transparent;

			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}

		.option
		{
			cursor: pointer;
			background: #4245ab;
			border-bottom: 1px solid #6b6b6b;
			padding: 7px 15px;
			font-size: 1.2em;

			-webkit-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;

			&:hover
			{
				background: #293142;
			}

			&:last-child
			{
				border-bottom: none;
			}
		}
	}
}

/*******************************/
/*******User page invites*******/
/*******************************/

.status-notes
{
	float: right;
	margin-top: 30px;
	text-align: right;
	margin-bottom: 5px;

	.note
	{
		display: inline-block;
		color: #B9C4E0;
		margin-right: 25px;

		.circle
		{
			float: left;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			margin-right: 10px;

			&.invited
			{
				background: white;
			}

			&.inprogress
			{
				background: #d2d219;
			}

			&.completed
			{
				background: #0ba40b;
			}

			&.expired
			{
				background: #d21919;
			}

			&.scored
			{
				background: #a91eea;
			}
		}

		.title
		{
			float: left;
			font-size: 1.2em;
		}
	}
}

.user-invites
{
	margin: 10px;

	.invites-head
	{
		background: #293142;
		border-radius: 6px 6px 0 0;
		.head-item
		{
			padding: 7px 14px;
			width: 20%;
			font-size: 1.1em;
			text-align: center;
			color: #a9a9a9;
			float: left;
			border-right: 2px solid #5d5d5d;

			&:last-child
			{
				border-right: none;
			}

			&:nth-child(1){ width: 30%; }
			&:nth-child(2){ width: 30%; }
			&:nth-child(3){ width: 10%; }
			&:nth-child(4){ width: 15%; }
			&:nth-child(5){ width: 15%; }
		}
	}

	.invite-items
	{
		.invite-item
		{
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			background: #333a4c;
			border-bottom: 2px solid #25282f;

			.invite-col
			{
				white-space: nowrap;
				overflow: hidden;
				padding: 18px;
				float: left;
				color: #C9C9C9;
				text-align: center;
				font-size: 1.3em;
				border-right: 2px solid #5d5d5d;

				&.calendar-col
				{
					padding: 2px;
					overflow: visible;
				}

				&.progress-status
				{
					padding: 17px 16px 8px 16px;

					.status-item
					{
						width: 30px;
						height: 30px;
						display: inline-block;
						border-radius: 50%;
						background: #0ba40b;
						margin-right: 10px;

						&.invited
						{
							background: white;
						}

						&.inprogress
						{
							background: #d2d219;
						}

						&.completed
						{
							background: #0ba40b;
						}

						&.expired
						{
							background: #d21919;
						}

						&.scored
						{
							background: #a91eea;
						}

						&:last-child
						{
							margin-right: 0;
						}
					}
				}

				&.invite-controls
				{
					padding: 10px;
					
					.invite-controls-wrap
					{
						margin: 0 auto;
						width: 140px;

						a,
						a:active,
						a:focus,
						a:hover
						{
							color: #C9C9C9;
						}

						.invite-control
						{
							float: left;
							font-size: 23px;
							text-align: center;
							margin-right: 10px;
							width: 40px;
							height: 40px;
							cursor: pointer;
							line-height: 35px;
							background: #4E6295;
							border-radius: 50%;
							border: 2px solid #C9C9C9;

							-webkit-transition: all .2s;
							-o-transition: all .2s;
							transition: all .2s;

							&:hover
							{
								background: #6B82BD;
							}

							&.last
							{
								margin-right: 0;
							}
						}
					}
				}

				&:last-child { border-right: none; }

				&:nth-child(1){ width: 30%; }
				&:nth-child(2){ width: 30%; }
				&:nth-child(3){ width: 10%; }
				&:nth-child(4){ width: 15%; }
				&:nth-child(5){ width: 15%; }
			}
		}
	}
}

.create-user-popup
{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	width: 40%;
	/*top: 100px;*/
	top: 10px;
	left: 50%;
	background: #4a5080;
	padding: 20px;
	z-index: 1002;
	border-radius: 5px;

	-webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

	-webkit-transform: translateX(-50%) scale(0.9);
	-ms-transform: translateX(-50%) scale(0.9);
	-o-transform: translateX(-50%) scale(0.9);
	transform: translateX(-50%) scale(0.9);

	&.active
	{
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(-50%) scale(1);
		-ms-transform: translateX(-50%) scale(1);
		-o-transform: translateX(-50%) scale(1);
		transform: translateX(-50%) scale(1);
	}

	.title
	{
		font-size: 1.5em;
		color: #DEDEDE;
		margin-bottom: 20px;
		text-align: center;
	}

	.assign-sim-user-create
	{
		display: none;
	}

	.input-block
	{
		&:after
		{
			content: '';
			display: table;
			clear: both;
		}

		.title
		{
			font-size: 1.3em;
			float: left;
			text-align: left;
			color: #D1D1D1;
		}

		input
		{
			width: 60%;
			float: right;
			font-size: 1.2em;

			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;

			&.wrong-input
			{
				border-bottom: 2px solid #c12b2b;
			}
		}
	}
}

.time-picker
{
	margin: 9px;
	font-size: 14px !important;
	input
	{
		float: left;
		width: 70px;
		height: 39px;
		text-align: center;

		&:first-child
		{
			border-radius: 4px 0 0 4px;
		}

		&:last-child
		{
			border-radius: 0 4px 4px 0;
		}
	}

	.colon
	{
		float: left;
		height: 39px;
		line-height: 39px;
		margin: 0 8px;
		font-size: 1.7em;
	}

	.day-time-picker
	{
		float: left;
		position: relative;
		height: 39px;
		width: 53px;
		cursor: pointer;
		margin: 0 10px;
		border-radius: 3px;
		border: 1px solid #e6e6e6;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;

		.day-item
		{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			letter-spacing: 2px;
			font-size: 1.4em;
			margin-left: 2px;
			line-height: 37px;
			color: #e6e6e6;

			-webkit-transition: all .5s cubic-bezier(.82,-0.83,0,1.27);
			-o-transition: all .5s cubic-bezier(.82,-0.83,0,1.27);
			transition: all .5s cubic-bezier(.82,-0.83,0,1.27);

			opacity: 0;
			visibility: hidden;
			filter: blur(2px);
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			-o-filter: blur(2px);

			-webkit-transform: scale(1.8);
			-ms-transform: scale(1.8);
			-o-transform: scale(1.8);
			transform: scale(1.8);


			&.active
			{
				opacity: 1;
				visibility: visible;
				filter: blur(0px);
				-webkit-filter: blur(0px);
				-moz-filter: blur(0px);
				-o-filter: blur(0px);

				-webkit-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				transform: scale(1);
			}
		}
	}

	.timezone
	{
		float: left;
		margin-left: 5px;
		height: 39px;
		line-height: 39px;
		color: #e6e6e6;
		font-size: 1.5em;
	}
}